<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/www.thefamilymap.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.6"}};
			!function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),!(j.toDataURL().length<3e3)&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,65039,8205,55356,57096),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,55356,57096),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55357,56425,55356,57341,8205,55357,56507),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55357,56425,55356,57341,55357,56507),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='formidable-css' href='http://www.thefamilymap.org/wp-content/uploads/formidable/css/formidablepro.css?ver=3311854' type='text/css' media='all' />
    <link rel='stylesheet' id='rehabtabs-css' href='http://www.thefamilymap.org/wp-content/plugins/rehabtabs/themes/smoothness/jquery-ui-1.8.16.custom.css?ver=4.7.6' type='text/css' media='all' />
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js?ver=4.7.6'></script>
    <script type='text/javascript' src='http://www.thefamilymap.org/wp-content/uploads/jw-player-plugin-for-wordpress/player/jwplayer.js?ver=4.7.6'></script>
    <script type='text/javascript' src='http://www.thefamilymap.org/wp-content/plugins/rehabtabs/js/jquery.cookie.js?ver=4.7.6'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var options_object = {"fx":"1","collapsible":"","cookie":"1","spinner":""};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://www.thefamilymap.org/wp-content/plugins/rehabtabs/js/rehabtabs.packed.js?ver=4.7.6'></script>
    <link rel='https://api.w.org/' href='http://www.thefamilymap.org/wp-json/' />
    <link rel="<link rel="icon" href="http://www.thefamilymap.org/wp-content/themes/thefamilymap/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="http://www.thefamilymap.org/wp-content/themes/thefamilymap/favicon.ico" type="image/x-icon" />
    <!--[if IE 7]>
    <style type="text/css">

    </style>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="http://www.thefamilymap.org/wp-content/themes/thefamilymap/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="http://www.thefamilymap.org/wp-content/themes/thefamilymap/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/js/jquery.cycle.js"></script>
    <script type="text/javascript" src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/js/custom-form-elements.js"></script>
    <script type="text/javascript" src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/js/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/js/jquery.md5.js"></script>
    <script type="text/javascript" src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/js/scripts.js"></script>

    <!-- Share Scripts -->
    <script type="text/javascript">var switchTo5x=false;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "ur-ed73275c-68b2-33d3-a489-e55d925c4dc0"}); </script>
</head>
<body id="home">
    <header>
        <div id="hdr">
            <div id="logo">
                <a href="http://www.thefamilymap.org" title="The Family Map"><img src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/images/logo.png" alt="The Family Map"></a>
            </div>
            <div id="login">
                <div id="loginform">
                    <h4>Members Login</h4>
                    <div id="login_message"></div>
                    <form id="member_login">
                        <input type="text" id="username" name="username" value="username" /> <input type="password" id="password" name="password" value="password" /> <input type="submit" class="btn" />
                    </form>
                    <a id="forgot_password" href="#">Forgot your password?</a>
                </div>
            </div>
            <nav>
                <div id="navigation">
                    <ul>
                        <li class="page_item page-item-5"><a href="http://www.thefamilymap.org/overview/">Overview</a></li>
                        <li class="page_item page-item-7 page_item_has_children"><a href="http://www.thefamilymap.org/how-it-works/">How It Works</a></li>
                        <li class="page_item page-item-9"><a href="http://www.thefamilymap.org/training/">Training</a></li>
                        <li class="page_item page-item-11"><a href="http://www.thefamilymap.org/research/">Research</a></li>
                        <li class="page_item page-item-17"><a href="http://www.thefamilymap.org/clientstestimonials/">Clients</a></li>
                        <li class="page_item page-item-19"><a href="http://www.thefamilymap.org/contact-us/">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div id="content">
        <div id="mast">
            <div class="right">
                <h2><img src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/images/better-childcare-starts-at-home.png" alt="Better Childcare Starts at Home" /></h2>
                <p><strong>The Family Map</strong> <strong>Inventories</strong> encourages healthy family engagement.  Using the Inventories, early childcare programs help families navigate these important early years of childhood.</p>
                <div id="learn-more">
                    <a href="http://www.thefamilymap.org/how-it-works/" title="Learn more about how The Family Map assessment tool works.">Learn More &raquo;</a>
                </div>
            </div>
            <div id="mast-images">
                <img width="612" height="324" src="http://www.thefamilymap.org/wp-content/uploads/2012/07/slide1.jpg" class="attachment-masthead-bg size-masthead-bg wp-post-image" alt="" srcset="http://www.thefamilymap.org/wp-content/uploads/2012/07/slide1.jpg 612w, http://www.thefamilymap.org/wp-content/uploads/2012/07/slide1-300x158.jpg 300w" sizes="(max-width: 612px) 100vw, 612px" />									<img width="612" height="324" src="http://www.thefamilymap.org/wp-content/uploads/2012/10/family-7-612x324.jpg" class="attachment-masthead-bg size-masthead-bg wp-post-image" alt="" />									<img width="612" height="324" src="http://www.thefamilymap.org/wp-content/uploads/2012/10/family-5-612x324.jpg" class="attachment-masthead-bg size-masthead-bg wp-post-image" alt="" />									<img width="612" height="324" src="http://www.thefamilymap.org/wp-content/uploads/2012/10/MP900439320-612x324.jpg" class="attachment-masthead-bg size-masthead-bg wp-post-image" alt="" />									<img width="612" height="324" src="http://www.thefamilymap.org/wp-content/uploads/2012/10/family-31-612x324.jpg" class="attachment-masthead-bg size-masthead-bg wp-post-image" alt="" />
            </div>
        </div>
    </div>
    <div id="spotlights">
        <div class="spot">
            <a href="http://www.uams.edu/FamilyMed/Scripts/rws5.pl?FORM=FamilyMapInquiry" title="Get Started">
                <img width="234" height="150" src="http://www.thefamilymap.org/wp-content/uploads/2012/07/get-started-spotlight.gif" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Let&#039;s Get Started - Join The Family Map" />
            </a>
        </div>
        <div class="spot">
            <a href="http://www.thefamilymap.org/research/" title="Research">
                <img width="234" height="150" src="http://www.thefamilymap.org/wp-content/uploads/2012/07/research-spotlight.gif" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="We&#039;ve Done Our Homework - Check Out Our Research!" />
            </a>
        </div>
        <div class="spot">
            <a href="http://www.thefamilymap.org/training/" title="Training">
                <img width="234" height="150" src="http://www.thefamilymap.org/wp-content/uploads/2012/07/training-spotlight.gif" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Hands on Training - Learn More" />
            </a>
        </div>
        <div class="spot">
            <a href="http://www.thefamilymap.org/clientstestimonials/" title="Testimonials">
                <img width="234" height="150" src="http://www.thefamilymap.org/wp-content/uploads/2012/11/testimonials-spotlight.gif" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
            </a>
        </div>
        <!--<div class="spot">
            <div id="programssp">
                <div id="view-all-link">
                    <a href="" title="View All of the Programs that Use The Family Map.">View All</a>
                </div>
                <img src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/images/programs/head-start.png" />
                <img src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/images/programs/hippy-usa.png" />
            </div>
        </div>-->
    </div>
    <div id="subftrContainer">
        <div id="subftr">
            <div id="events">
                <h2>Upcoming Events</h2>
                <div id="event-feed" class="scroll-pane">
                    <p>
                        <span class="date">11/15/17 -</span>
                        <a href="http://www.thefamilymap.org/upcoming-events/family-map-open-training-16/" title="Family Map Open Training">Family Map Open Training</a>
                    </p>
                </div>
                <p class="view-all"><a href="http://www.thefamilymap.org/upcoming-events/" title="View All Events">View All Events &raquo;</a></p>
            </div>
            <div id="quick-connect">
                <h2>Quick Connect</h2>
                <div class="frm_forms " id="frm_form_3_container">
                    <form enctype="multipart/form-data" method="post" class="frm-show-form " id="form_oq61b4">
                        <div class="frm_form_fields ">
                            <fieldset>
                                <input type="hidden" name="frm_action" value="create" />
                                <input type="hidden" name="form_id" value="3" />
                                <input type="hidden" name="frm_hide_fields_3" id="frm_hide_fields_3" value="" />
                                <input type="hidden" name="form_key" value="oq61b4" />
                                <input type="hidden" name="item_meta[0]" value="" />
                                <input type="hidden" id="frm_submit_entry_3" name="frm_submit_entry_3" value="b980097686" /><input type="hidden" name="_wp_http_referer" value="/" />
                                <input type="text" id="field_name" name="item_meta[21]" value="" placeholder="Your Name" data-reqmsg="This field cannot be blank" class="frm_top_container frm_form_field name" />

                                <div id="frm_field_48_container" class="frm_form_field form-field  frm_required_field frm_top_container">
                                    <label class="frm_primary_label">
                                        Agency Name
                                        <span class="frm_required">*</span>
                                    </label>
                                    <input type="text" id="field_agency" name="item_meta[48]" value="" placeholder="Agency Name" data-reqmsg="This field can not be left blank." />



                                </div>
                                <input type="text" id="field_exnaqm" name="item_meta[22]" value="" placeholder="Your Email" data-reqmsg="This field cannot be blank" class="frm_top_container" />

                                <div id="frm_field_40_container" class="frm_form_field form-field  frm_required_field frm_top_container city">
                                    <label class="frm_primary_label">
                                        City
                                        <span class="frm_required">*</span>
                                    </label>
                                    <input type="text" id="field_city" name="item_meta[40]" value="" placeholder="City" data-reqmsg="This field cannot be blank" />



                                </div>
                                <div id="frm_field_41_container" class="frm_form_field form-field  frm_required_field frm_top_container state">
                                    <label class="frm_primary_label">
                                        ST
                                        <span class="frm_required">*</span>
                                    </label>
                                    <input type="text" id="field_st" name="item_meta[41]" value="" style="width:18px" maxlength="2" placeholder="ST" data-reqmsg="This field cannot be blank" class="auto_width" />



                                </div>
                                <input type="hidden" name="item_key" value="" />
                                <div class="frm_submit">

                                    <button class="frm_button_submit" type="submit" class="btn">Submit</button>

                                </div>
                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
            <div id="share">
                <h2>Share This</h2>
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_googleplus_large' displayText='Google +'></span>
                <span class='st_linkedin_large' displayText='LinkedIn'></span>
                <span class='st_tumblr_large' displayText='Tumblr'></span>
                <span class='st_reddit_large' displayText='Reddit'></span>
                <span class='st_myspace_large' displayText='MySpace'></span>
                <span class='st_stumbleupon_large' displayText='StumbleUpon'></span>
                <span class='st_sharethis_large' displayText='ShareThis'></span>
                <span class='st_email_large' displayText='Email'></span>
            </div>
        </div>
    </div>
    <footer>
        <div id="ftrContainer">
            <div id="ftr">
                <div id="testimonials">
                    <div class="testimony">
                        <p>This training was very informative and shed a different light on Family Map!  I hope that this training/trainer is used often.  The manual is great and will be useful for all purposes!</p>
                        <p class="credit">- </p>
                    </div>
                    <div class="testimony">
                        <p>&#8220;I was trained a few years back and have implemented FMI for the Preschool Head Start families.  I have 20 family advocates that provide the direct services and have really grown to appreciate the Family MAPS Inventory tool.  There was fear at first because of the tools size and the depth of questions asked, however my advocates love it!   It was great watching the staff grow over the past years with this tool. We have seasoned staff; one has worked <a class="moretag" href="http://www.thefamilymap.org/testimonials/staff-success/">[read more]</a></p>
                        <p class="credit">- </p>
                    </div>
                    <div class="testimony">
                        <p>&#8220;&#8230;it has been a great tool so far and helped us a lot to set the direction and guidelines when developing our family service plan.&#8221;</p>
                        <p class="credit">- </p>
                    </div>
                    <div class="testimony">
                        <p>&#8220;&#8230;We are so excited to implement this tool&#8230;&#8221;</p>
                        <p class="credit">- </p>
                    </div>
                    <div class="testimony">
                        <p>&#8220;&#8230;It has created a culture of openness and trust between our parents and staff.  Through the Family Map process parents come to understand that we genuinely care about their family&#8217;s overall well-being&#8230;&#8221;</p>
                        <p class="credit">- </p>
                    </div>
                    <div class="testimony">
                        <p>&#8220;&#8230;Initially, several teachers were resistant to using the Family Map, but they changed their minds after they saw how well it helped them to get to know their families better&#8230;&#8221;</p>
                        <p class="credit">- </p>
                    </div>
                    <div class="testimony">
                        <p>&#8220;&#8230;I think it can open a conversation up about what people might need in addition to what they are already doing or what they seem to be missing&#8230;&#8221;</p>
                        <p class="credit">- </p>
                    </div>
                    <div class="testimony">
                        <p>“My teacher really showed concern.&#8221;</p>
                        <p class="credit">- </p>
                    </div>
                    <div class="testimony">
                        <p>&#8220;I really like how thorough they are&#8230;&#8221;</p>
                        <p class="credit">- </p>
                    </div>
                    <div class="testimony">
                        <p>&#8220;The teacher showed concern&#8230;&#8221;</p>
                        <p class="credit">- </p>
                    </div>
                </div>
                <div id="btm-links">
                    <ul>
                        <li><a href="http://www.thefamilymap.org">Home</a></li>
                        <li class="page_item page-item-5"><a href="http://www.thefamilymap.org/overview/">Overview</a></li>
                        <li class="page_item page-item-7 page_item_has_children"><a href="http://www.thefamilymap.org/how-it-works/">How It Works</a></li>
                        <li class="page_item page-item-9 page_item_has_children"><a href="http://www.thefamilymap.org/training/">Training</a></li>
                        <li class="page_item page-item-11 page_item_has_children"><a href="http://www.thefamilymap.org/research/">Research</a></li>
                        <li class="page_item page-item-17"><a href="http://www.thefamilymap.org/clientstestimonials/">Clients</a></li>
                        <li class="page_item page-item-19"><a href="http://www.thefamilymap.org/contact-us/">Contact Us</a></li>
                    </ul>
                    <ul class="sub-list">
                        <li class="page_item page-item-704"><a href="http://www.thefamilymap.org/member-resources/">Resources</a></li>
                        <li class="page_item page-item-699"><a href="http://www.thefamilymap.org/member-forms/">Forms</a></li>
                        <li class="page_item page-item-706"><a href="http://www.thefamilymap.org/member-order-form/">Order Form</a></li>
                        <li class="page_item page-item-701"><a href="http://www.thefamilymap.org/member-training/">Training</a></li>
                        <li class="page_item page-item-41"><a href="http://www.uamshealth.com/?id=14&#038;sid=1" target="_blank">Disclaimer</a></li>
                        <li class="page_item page-item-43"><a href="http://www.uamshealth.com/privacy" target="_blank">Privacy Policy</a></li>
                        <li class="page_item page-item-45"><a href="http://www.thefamilymap.org/sitemap/">Sitemap</a></li>
                    </ul>
                </div>
                <div id="contact-info">
                    <p>Department of Family &amp; Preventive Medicine<br />College of Medicine<br />University of Arkansas for Medical Sciences<br />4301 W. Markham St., #530<br />Little Rock, AR 72205-7199</p>
                    <p>Phone: 501-686-6585</p>
                </div>
            </div>
            <div id="base">
                <div id="copyright">
                    <p>
                        Copyright &copy;
                        <script type="text/javascript">
								var theDate=new Date()
								document.write(theDate.getFullYear())
                        </script>. UAMS Family Map. All Rights Reserved.
                    </p>
                </div>
                <div id="thirty">
                    <h4><a href="http://www.wearethirty.com" target="_blank" title="Thirty, Inc. Little Rock Web Design">Thirty, Inc. Little Rock Web Design</a></h4>
                </div>
            </div>
        </div>
    </footer>
    <script src="http://www.google-analytics.com/ga.js" type="text/javascript"></script>
    <script type="text/javascript">var pageTracker = _gat._getTracker("UA-38863818-1");pageTracker._trackPageview();</script>
    <script type='text/javascript' src='http://www.thefamilymap.org/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
    <script type='text/javascript' src='http://www.thefamilymap.org/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4'></script>
    <script type='text/javascript' src='http://www.thefamilymap.org/wp-includes/js/jquery/ui/tabs.min.js?ver=1.11.4'></script>
    <script type='text/javascript' src='http://www.thefamilymap.org/wp-includes/js/wp-embed.min.js?ver=4.7.6'></script>
    <script type='text/javascript' src='http://www.thefamilymap.org/wp-content/plugins/formidable/js/jquery/jquery.placeholder.min.js?ver=2.3.1'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var frm_js = {"ajax_url":"http:\/\/www.thefamilymap.org\/wp-admin\/admin-ajax.php","images_url":"http:\/\/www.thefamilymap.org\/wp-content\/plugins\/formidable\/images","loading":"Loading\u2026","remove":"Remove","offset":"4","nonce":"ddb903ce6d","id":"ID","no_results":"No results match"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://www.thefamilymap.org/wp-content/plugins/formidable/js/formidable.min.js?ver=2.03.04'></script>


    <div>
        @RenderBody()
    </div>
</body>
</html>
