@model TheFamilyMapOnline.Models.research
@using System.Web.Mvc

@{
    <title>Development team Page</title>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
}
<!doctype html>
<html>
<body id="research">
    <div id="content">
        <div class="left">


            <h2>Research</h2>
            <ul id="subnavigation">
                <li class="page_item page-item-1329"><a href="http://www.thefamilymap.org/research/newest-research/">Newest Research</a></li>
                <li class="page_item page-item-405"><a href="http://www.thefamilymap.org/research/whats-measured/">What&#8217;s Measured</a></li>
                <li class="page_item page-item-414"><a href="http://www.thefamilymap.org/research/reliability-validity-data/">Reliability &#038; Validity</a></li>
                <li class="page_item page-item-412"><a href="http://www.thefamilymap.org/research/an-evaluation-tool/">Evaluation Tool</a></li>
                <li class="page_item page-item-1336"><a href="http://www.thefamilymap.org/research/intervention-tool/">Intervention Tool</a></li>
                <li class="page_item page-item-1322"><a href="http://www.thefamilymap.org/research/home-visiting/">Home Visiting</a></li>
                <li class="page_item page-item-410"><a href="http://www.thefamilymap.org/research/used-by-programsagencies/">Programs/Agencies</a></li>
                <li class="page_item page-item-408"><a href="http://www.thefamilymap.org/research/acceptance-by-teacher-and-parents/">Teacher &#038; Parents</a></li>
                <li class="page_item page-item-521 current_page_item"><a href="http://www.thefamilymap.org/research/development-team/">Development Team</a></li>
            </ul>
            <div id="spotlights">
                <div id="lets-get-started">
                    <a href="http://www.uams.edu/FamilyMed/Scripts/rws5.pl?FORM=FamilyMapInquiry" title="Let's Get Started - Join The Family Map Today!">Let's Get Started - Join The Family Map</a>
                </div>
                <div id="testimonialssp">
                    <a href="http://www.thefamilymap.org/clientstestimonials/" title="People Are Talking - Hear what our clients and partners have to say about The Family Map.">People Are Talking - Hear what our clients and partners have to say about The Family Map.</a>
                </div>
                <!--<div id="programssp">
                    <div id="view-all-link">
                        <a href="" title="View All of the Programs that Use The Family Map.">View All</a>
                    </div>
                    <img src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/images/programs/head-start.png" />
                    <img src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/images/programs/hippy-usa.png" />
                </div>-->
            </div>

        </div>		<div class="rcontent right">
            <h1>Development Team</h1>
            <p>The Family Map Inventories were developed by experts on child development, home environment, child care education, mental health, and parenting. Leanne Whiteside-Mansell, Ed.D. leads the development team.  They are dedicated to translating research to childcare practice to improve the childcare quality.</p>
            <div id="attachment_574" style="width: 110px" class="wp-caption alignleft"><img class=" wp-image-574 " title="Leanne Whiteside-Mansell" src="http://www.thefamilymap.org/wp-content/uploads/2012/10/leanne2-150x150.jpg" alt="" width="100" height="100" srcset="http://www.thefamilymap.org/wp-content/uploads/2012/10/leanne2-150x150.jpg 150w, http://www.thefamilymap.org/wp-content/uploads/2012/10/leanne2-300x300.jpg 300w, http://www.thefamilymap.org/wp-content/uploads/2012/10/leanne2-1024x1024.jpg 1024w, http://www.thefamilymap.org/wp-content/uploads/2012/10/leanne2.jpg 1108w" sizes="(max-width: 100px) 100vw, 100px" /><p class="wp-caption-text">Leanne Whiteside-Mansell</p></div>
            <p><strong>Leanne Whiteside-Mansell, Ed.D.</strong> is a Professor in the Department of Family and Preventive Medicine and is the developer of the Family Map Inventories.  She has more than 80 presentations and publications related to parenting and child development in at-risk populations.  She led two research projects to develop the Family Map Inventories.  The first was a Head Start Measurement Development project that resulted in the Early Childhood Family Map.  The second project was to develop and test the effectiveness of the Infant Toddler Family Map in increasing parent-teacher partnerships.  She continues to lead the Family Map team in the move from research to practice.</p>
            <hr />
            <div id="attachment_574" style="width: 110px" class="wp-caption alignleft"><img class=" wp-image-574  " title="robert - 100" src="http://www.thefamilymap.org/wp-content/uploads/2012/10/robert-100.jpg" alt="" width="100" height="100" /><p class="wp-caption-text">Robert H. Bradley</p></div>
            <p><strong>Robert H. Bradley, Ph.D.</strong> is Director of the Family &amp; Human Dynamics Research Institute and Professor of Psychology and the School of Social and Family Dynamics at Arizona State University. Dr. Bradley has an extensive background in the measurement of family characteristics (e.g., the Home Observations for the Measurement of the Environment, HOME; Caldwell &amp; Bradley, 1984) as well as family measures more generally. He has over 200 publications and has served on a number of research advisory groups (e.g., the NIDA-funded Maternal Lifestyles Study, the National Children’s Study, the Head Start Impact study, and the Biobehavioral and Behavioral research committee for NICHD). He has been an investigator for the Early Head Start National Evaluation Study and the NICHD Study of Child Care and Youth Development.</p>
            <hr />
            <div id="attachment_578" style="width: 110px" class="wp-caption alignleft"><img class=" wp-image-578  " title="nikki1 - 100" src="http://www.thefamilymap.org/wp-content/uploads/2012/10/nikki1-100.jpg" alt="" width="100" height="100" /><p class="wp-caption-text">Nicola Conners-Burrow</p></div>
            <p><strong>Nicola Conners-Burrow, Ph. D.</strong> is an Associate Professor of Family &amp; Preventative Medicine at the University of Arkansas for Medical Sciences. With a background in educational psychology and research, she has more than 25 peer-reviewed manuscripts published or in press and has served as the principal investigator on three intervention studies and two technical assistance projects. Dr. Burrow has also been co-investigator or evaluator on more than a dozen other studies.</p>
            <hr />
            <div id="attachment_579" style="width: 110px" class="wp-caption alignleft"><img class=" wp-image-578   " title="Patti-Bokony - 100" src="http://www.thefamilymap.org/wp-content/uploads/2012/10/Patti-Bokony-100.jpg" alt="" width="100" height="100" /><p class="wp-caption-text">Patti Bokony</p></div>
            <p><strong>Patti Bokony, Ph.D.</strong>, is an assistant research professor in the Department of Family and Preventive Medicine at the University of Arkansas for Medical Sciences. She earned a Masters of Education in Early Childhood Special Education from the University of Arkansas at Little Rock and a Doctoral degree in Educational Psychology from the University of Memphis. Dr. Bokony’s areas of interest include developing preventive interventions that promote social-emotional development in early childhood and promoting those interventions through parenting education and professional development for childcare and early education professionals.</p>
            <hr />
            <div id="attachment_649" style="width: 110px" class="wp-caption alignleft"><img class=" wp-image-649  " title="DIGITAL CAMERA" src="http://www.thefamilymap.org/wp-content/uploads/2012/10/lorraine1-100.jpg" alt="" width="100" height="100" /><p class="wp-caption-text">Lorraine McKelvey</p></div>
            <p><strong>Lorraine McKelvey, Ph.D.</strong>, is an Assistant Professor of Family &amp; Preventative Medicine at UAMS. Her background is in developmental psychology, with experience in program evaluation research, university-community partnerships and analysis of longitudinal data. Dr. McKelvey is the lead evaluator of the Better Beginnings Initiative, Arkansas’ quality rating and improvement system for early childhood programs. Dr. McKelvey has most actively been involved in the use of the Family Map in home visiting programs.</p>
            <hr />
            <p>Additional support provided by  Danya Johnson, Taren Swindle, and LaTunja Sockwell.</p>
            <p>Funding for the Family Map’s development included, in part:</p>
            <blockquote>
                <p>
                    <strong>The Infant-Toddler Family Map:</strong><br />
                    <strong>A Foundation for Parent-Teacher Partnerships</strong><br />
                    <strong>U. S. Dept. of Health &amp; Human Services</strong><br />
                    <strong>904D0254</strong>
                </p>
                <p>
                    <strong>The Family Map:</strong><br />
                    <strong>An Integrated Assessment of the Parenting</strong><br />
                    <strong>Environment in Early Childhood</strong><br />
                    <strong>Administration on Children, Youth, &amp; Families,</strong><br />
                    <strong>U. S. Dept. of Health &amp; Human Services</strong><br />
                    <strong>90YF0051</strong>
                </p>
            </blockquote>
            <p>In these projects, the research team partnered with two large Head Start providers in Arkansas: Community Development Institute Serving Tri-Region Arkansas (formally Child Development, Inc.) and the University of Arkansas for Medical Sciences Head Start. The Family Map research team continues to partner with early childcare providers to evaluate and improve the training, implementation, and use of the Family Map.</p>
        </div>
    </div>
</body>
</html>