@model TheFamilyMapOnline.Models.Research
@using System.Web.Mvc

@{
    <title> Evaluation Tools page</title>
    <h3>@ViewBag.Message</h3>
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html>
<head>
    <meta name="google-site-verification" content="Bzf0T0SZB6fV-KMTNXrq1N7NQ2F9LCrbQHEya9kiPR4" />
    <title>Evaluation Tool</title>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
</head>

<body id="research">
    <div id="content">
        <div class="left">
            <h2>Research</h2>
            <ul id="subnavigation">
                <li class="page_item page-item-1329"><a href="~/Research/NewestResearch">Newest Research</a></li>
                <li class="page_item page-item-405"><a href="~/Research/WhatsMeasured">What&#8217;s Measured</a></li>
                <li class="page_item page-item-414"><a href="~/Research/ReliabilityValidity">Reliability &#038; Validity</a></li>
                <li class="page_item page-item-412 current_page_item"><a href="~/Research/EvaluationTool">Evaluation Tool</a></li>
                <li class="page_item page-item-1336"><a href="~/Research/InterventionTool">Intervention Tool</a></li>
                <li class="page_item page-item-1322"><a href="~/Research/HomeVisiting">Home Visiting</a></li>
                <li class="page_item page-item-410"><a href="~/Research/ProgramsAgencies">Programs/Agencies</a></li>
                <li class="page_item page-item-408"><a href="~/Research/TeacherParents/">Teacher &#038; Parents</a></li>
                <li class="page_item page-item-521"><a href="~/Research/DevelopmentTeam">Development Team</a></li>
            </ul>
            <div id="spotlights">
                <div id="lets-get-started">
                    <a href="~/AgenContact/Create" title="Let's Get Started - Join The Family Map Today!">Let's Get Started - Join The Family Map</a>
                </div>
                <div id="testimonialssp">
                    <a href="~/clientsTestimonials/Clients" title="People Are Talking - Hear what our clients and partners have to say about The Family Map.">People Are Talking - Hear what our clients and partners have to say about The Family Map.</a>
                </div>
            </div>
        </div>
        <div class="rcontent right">
            <h1>Evaluation Tool</h1>
            <p>The Family Map can be used by programs or researchers to evaluate changes in risks that are intervention targets. Results from one study indicated that children attending one Head Start using the Family Map were at reduced risk for unintentional injury. Key items on the Family Map helped this center recognize a critical area for intervention. Through these intervention efforts, children at this Head Start facility showed reduced risk for unintentional home injuries. The Family Map is currently being used to evaluate the Arkansas statewide assessment of the Maternal, Infant, and Early Childhood Home Visiting Program.</p>
            <p><strong>Downloads to learn more:</strong></p>
            <p>
                <a href="~/Content/pdf/Research-HSRC-2009-Documenting-Impacts.pdf" target="_blank">Research &#8211; HSRC 2009 Documenting Impacts</a><br />
                <a href="~/Content/pdf/Evaluation-Tool.pdf" target="_blank">Summary of The Family Map as Evaluation Tool</a>
            </p>
            <p>&nbsp;</p>
        </div>
    </div>
</body>
</html>


@*<header>
        <div id="hdr">
            <div id="logo">
                <a href="~/Views/Home/Index.cshtml" title="The Family Map"><img src="~/Content/img/logo.png" alt="The Family Map"></a>
            </div>
            <div id="login">
                <div id="loginform">
                    <h4>Members Login</h4>
                    <div id="login_message"></div>
                    <form id="member_login">
                        <input type="text" id="username" name="username" value="username" /> <input type="password" id="password" name="password" value="password" /> <input type="submit" class="btn" />
                    </form>
                    <a id="forgot_password" href="#">Forgot your password?</a>
                </div>
            </div>
            <nav>
                <div id="navigation">
                    <ul>
                        <li class="page_item page-item-5"><a href="~/Views/Overview/Overview.cshtml">Overview</a></li>
                        <li class="page_item page-item-7 page_item_has_children"><a href="~/Views/HowitWorks/HowitWorks.cshtml">How It Works</a></li>
                        <li class="page_item page-item-9"><a href="~/Views/Training/Training.cshtml">Training</a></li>
                        <li class="page_item page-item-11 current_page_ancestor current_page_parent"><a href="~/Views/Research/Research.cshtml">Research</a></li>
                        <li class="page_item page-item-17"><a href="~/Views/clientsTestimonials/Clients.cshtml">Clients</a></li>
                        <li class="page_item page-item-19"><a href="~/Views/Contact/Contact.cshtml">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>*@


@*<div id="subftrContainer">
            <div id="subftr">
                <div id="events">
                    <h2>Upcoming Events</h2>
                    <div id="event-feed" class="scroll-pane">
                        <p>
                            <span class="date">11/15/17 -</span>
                            <a href="http://www.thefamilymap.org/upcoming-events/family-map-open-training-16/" title="Family Map Open Training">Family Map Open Training</a>
                        </p>
                    </div>
                    <p class="view-all"><a href="http://www.thefamilymap.org/upcoming-events/" title="View All Events">View All Events &raquo;</a></p>
                </div>
                <div id="quick-connect">
                    <h2>Quick Connect</h2>
                    <div class="frm_forms " id="frm_form_3_container">
                        <form enctype="multipart/form-data" method="post" class="frm-show-form " id="form_oq61b4">
                            <div class="frm_form_fields ">
                                <fieldset>
                                    <input type="hidden" name="frm_action" value="create" />
                                    <input type="hidden" name="form_id" value="3" />
                                    <input type="hidden" name="frm_hide_fields_3" id="frm_hide_fields_3" value="" />
                                    <input type="hidden" name="form_key" value="oq61b4" />
                                    <input type="hidden" name="item_meta[0]" value="" />
                                    <input type="hidden" id="frm_submit_entry_3" name="frm_submit_entry_3" value="1d64202d86" /><input type="hidden" name="_wp_http_referer" value="/research/an-evaluation-tool/" />
                                    <input type="text" id="field_name" name="item_meta[21]" value="" placeholder="Your Name" data-reqmsg="This field cannot be blank" class="frm_top_container frm_form_field name" />

                                    <div id="frm_field_48_container" class="frm_form_field form-field  frm_required_field frm_top_container">
                                        <label class="frm_primary_label">
                                            Agency Name
                                            <span class="frm_required">*</span>
                                        </label>
                                        <input type="text" id="field_agency" name="item_meta[48]" value="" placeholder="Agency Name" data-reqmsg="This field can not be left blank." />



                                    </div>
                                    <input type="text" id="field_exnaqm" name="item_meta[22]" value="" placeholder="Your Email" data-reqmsg="This field cannot be blank" class="frm_top_container" />

                                    <div id="frm_field_40_container" class="frm_form_field form-field  frm_required_field frm_top_container city">
                                        <label class="frm_primary_label">
                                            City
                                            <span class="frm_required">*</span>
                                        </label>
                                        <input type="text" id="field_city" name="item_meta[40]" value="" placeholder="City" data-reqmsg="This field cannot be blank" />



                                    </div>
                                    <div id="frm_field_41_container" class="frm_form_field form-field  frm_required_field frm_top_container state">
                                        <label class="frm_primary_label">
                                            ST
                                            <span class="frm_required">*</span>
                                        </label>
                                        <input type="text" id="field_st" name="item_meta[41]" value="" style="width:30px" maxlength="2" placeholder="ST" data-reqmsg="This field cannot be blank" class="auto_width" />



                                    </div>
                                    <input type="hidden" name="item_key" value="" />
                                    <div class="frm_submit">

                                        <button class="frm_button_submit" type="submit" class="btn">Submit</button>

                                    </div>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="share">
                    <h2>Share This</h2>
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_googleplus_large' displayText='Google +'></span>
                    <span class='st_linkedin_large' displayText='LinkedIn'></span>
                    <span class='st_tumblr_large' displayText='Tumblr'></span>
                    <span class='st_reddit_large' displayText='Reddit'></span>
                    <span class='st_myspace_large' displayText='MySpace'></span>
                    <span class='st_stumbleupon_large' displayText='StumbleUpon'></span>
                    <span class='st_sharethis_large' displayText='ShareThis'></span>
                    <span class='st_email_large' displayText='Email'></span>
                </div>
            </div>
        </div>
    <footer>
            <div id="ftrContainer">
                <div id="ftr">
                    <div id="testimonials">
                        <div class="testimony">
                            <p>This training was very informative and shed a different light on Family Map!  I hope that this training/trainer is used often.  The manual is great and will be useful for all purposes!</p>
                            <p class="credit">- </p>
                        </div>
                        <div class="testimony">
                            <p>&#8220;I was trained a few years back and have implemented FMI for the Preschool Head Start families.  I have 20 family advocates that provide the direct services and have really grown to appreciate the Family MAPS Inventory tool.  There was fear at first because of the tools size and the depth of questions asked, however my advocates love it!   It was great watching the staff grow over the past years with this tool. We have seasoned staff; one has worked <a class="moretag" href="http://www.thefamilymap.org/testimonials/staff-success/">[read more]</a></p>
                            <p class="credit">- </p>
                        </div>
                        <div class="testimony">
                            <p>&#8220;&#8230;it has been a great tool so far and helped us a lot to set the direction and guidelines when developing our family service plan.&#8221;</p>
                            <p class="credit">- </p>
                        </div>
                        <div class="testimony">
                            <p>&#8220;&#8230;We are so excited to implement this tool&#8230;&#8221;</p>
                            <p class="credit">- </p>
                        </div>
                        <div class="testimony">
                            <p>&#8220;&#8230;It has created a culture of openness and trust between our parents and staff.  Through the Family Map process parents come to understand that we genuinely care about their family&#8217;s overall well-being&#8230;&#8221;</p>
                            <p class="credit">- </p>
                        </div>
                        <div class="testimony">
                            <p>&#8220;&#8230;Initially, several teachers were resistant to using the Family Map, but they changed their minds after they saw how well it helped them to get to know their families better&#8230;&#8221;</p>
                            <p class="credit">- </p>
                        </div>
                        <div class="testimony">
                            <p>&#8220;&#8230;I think it can open a conversation up about what people might need in addition to what they are already doing or what they seem to be missing&#8230;&#8221;</p>
                            <p class="credit">- </p>
                        </div>
                        <div class="testimony">
                            <p>“My teacher really showed concern.&#8221;</p>
                            <p class="credit">- </p>
                        </div>
                        <div class="testimony">
                            <p>&#8220;I really like how thorough they are&#8230;&#8221;</p>
                            <p class="credit">- </p>
                        </div>
                        <div class="testimony">
                            <p>&#8220;The teacher showed concern&#8230;&#8221;</p>
                            <p class="credit">- </p>
                        </div>
                    </div>
                    <div id="btm-links">
                        <ul>
                            <li><a href="~/Home/Index">Home</a></li>
                            <li class="page_item page-item-5"><a href="~/Overview/overview">Overview</a></li>
                            <li class="page_item page-item-7 page_item_has_children"><a href="~/HowitWorks/Content">How It Works</a></li>
                            <li class="page_item page-item-9 page_item_has_children"><a href="~/Training/Training">Training</a></li>
                            <li class="page_item page-item-11 page_item_has_children current_page_ancestor current_page_parent"><a href="~/Research/NewestResearch">Research</a></li>
                            <li class="page_item page-item-17"><a href="~/clientsTestimonials/Clients">Clients</a></li>
                            <li class="page_item page-item-19"><a href="~/Contact/Contact">Contact Us</a></li>
                        </ul>
                        <ul class="sub-list">
                            <li class="page_item page-item-41"><a href="http://www.uamshealth.com/?id=14&#038;sid=1" target="_blank">Disclaimer</a></li>
                            <li class="page_item page-item-43"><a href="http://www.uamshealth.com/privacy" target="_blank">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div id="contact-info">
                        <p>Department of Family &amp; Preventive Medicine<br />College of Medicine<br />University of Arkansas for Medical Sciences<br />4301 W. Markham St., #530<br />Little Rock, AR 72205-7199</p>
                        <p>Phone: 501-686-6585</p>
                    </div>
                </div>
                <div id="base">
                    <div id="copyright">
                        <p>
                            Copyright &copy;
                            <script type="text/javascript">
                                    var theDate=new Date()
                                    document.write(theDate.getFullYear())
                            </script>. UAMS Family Map. All Rights Reserved.
                        </p>
                    </div>
                    <div id="thirty">
                        <h4><a href="http://www.wearethirty.com" target="_blank" title="Thirty, Inc. Little Rock Web Design">Thirty, Inc. Little Rock Web Design</a></h4>
                    </div>
                </div>
            </div>
        </footer>*@