@model TheFamilyMapOnline.Models.Research
@using System.Web.Mvc

@{
    <title> Home visiting </title>
    <h2>@ViewBag.Title.</h2>
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html>
<body id="research">
    <div id="content">
        <div class="left">
            <h2>Research</h2>
            <ul id="subnavigation">
                <li class="page_item page-item-1329"><a href="~/Research/NewestResearch">Newest Research</a></li>
                <li class="page_item page-item-405"><a href="~/Research/WhatsMeasured">What&#8217;s Measured</a></li>
                <li class="page_item page-item-414"><a href="~/Research/ReliabilityValidity">Reliability &#038; Validity</a></li>
                <li class="page_item page-item-412"><a href="~/Research/EvaluationTool">Evaluation Tool</a></li>
                <li class="page_item page-item-1336"><a href="~/Research/InterventionTool">Intervention Tool</a></li>
                <li class="page_item page-item-1322 current_page_item"><a href="~/Research/HomeVisiting">Home Visiting</a></li>
                <li class="page_item page-item-410"><a href="~/Research/ProgramsAgencies">Programs/Agencies</a></li>
                <li class="page_item page-item-408"><a href="~/Research/TeacherParents/">Teacher &#038; Parents</a></li>
                <li class="page_item page-item-521"><a href="~/Research/DevelopmentTeam">Development Team</a></li>
            </ul>
            <div id="spotlights">
                <div id="lets-get-started">
                    <a href="~/AgenContact/Create" title="Let's Get Started - Join The Family Map Today!">Let's Get Started - Join The Family Map</a>
                </div>
                <div id="testimonialssp">
                    <a href="~/clientsTestimonials/Clients" title="People Are Talking - Hear what our clients and partners have to say about The Family Map.">People Are Talking - Hear what our clients and partners have to say about The Family Map.</a>
                </div>
            </div>

        </div>		<div class="rcontent right">
            <h1>Home Visiting</h1>
            <p>
                The Family Map Inventories are currently being used by the Arkansas Maternal, Infant, and Early Childhood Home Visiting program (MIECHV) statewide evaluation.<br />
                The current models participating in the Arkansas Home Visiting Network using the Family Map Inventories include:
            </p>
            <ul>
                <li>Arkansas HIPPY</li>
                <li>Following Baby Back Home</li>
                <li>Healthy Families America</li>
                <li>Parents as Teachers</li>
            </ul>
            <div>
                <p>Not part of MIECHV in AR but used by:</p>
                <ul>
                    <li>EHS home visiting programs in multiple states – meets Head Start Performance standards</li>
                </ul>
            </div>
            <p><strong>Downloads to learn more:</strong></p>
            <p><a href="~/Content/pdf/Home-Visiting.pdf" target="_blank">Summary of Family Map in Home Visiting Programs</a></p>
            <p><a href="~/Content/pdf/Evaluation-Tool.pdf">Summary of Family Map as Evaluation Tool</a></p>
            <p><a href="~/Content/pdf/FPA.pdf">Summary of the Use of the Family Map as Family Partnership Agreement</a></p>
            <p><strong>The Family Map Inventories are approved by PAT as family centered assessments.</strong></p>
            <p>See the PAT website for details:</p>
            <p><a title="Parents as Teachers" href="http://www.parentsasteachers.org/images/stories/Family_Centered_Assessment.pdf">Parents as Teachers</a></p>
            <p>MIECHV Evaluation tools:</p>
            <p><a title="The Maternal, Infant, and Early Childhood Home Visiting (MIECHV) Program" href="http://mchb.hrsa.gov/programs/homevisiting/ta/resources/benchmarkmeasures.pdf">The Maternal, Infant, and Early Childhood Home Visiting (MIECHV) Program</a></p>
            <p>&nbsp;</p>
        </div>
    </div>
</body>
</html>