@model TheFamilyMapOnline.Models.Research

@using System.Web.MVC
@{
    <h3>@ViewBag.Message</h3>
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html>
<body id="research">
    <div id="content">
        <div class="left">
            <h2>Research</h2>
            <ul id="subnavigation">
                <li class="page_item page-item-1329"><a href="~/Research/NewestResearch">Newest Research</a></li>
                <li class="page_item page-item-405"><a href="~/Research/WhatsMeasured">What&#8217;s Measured</a></li>
                <li class="page_item page-item-414"><a href="~/Research/ReliabilityValidity">Reliability &#038; Validity</a></li>
                <li class="page_item page-item-412"><a href="~/Research/EvaluationTool">Evaluation Tool</a></li>
                <li class="page_item page-item-1336 current_page_item"><a href="~/Research/InterventionTool">Intervention Tool</a></li>
                <li class="page_item page-item-1322"><a href="~/Research/HomeVisiting">Home Visiting</a></li>
                <li class="page_item page-item-410"><a href="~/Research/ProgramsAgencies">Programs/Agencies</a></li>
                <li class="page_item page-item-408"><a href="~/Research/TeacherParents/">Teacher &#038; Parents</a></li>
                <li class="page_item page-item-521"><a href="~/Research/DevelopmentTeam">Development Team</a></li>
            </ul>
            <div id="spotlights">
                <div id="lets-get-started">
                    <a href="~/AgenContact/Create" title="Let's Get Started - Join The Family Map Today!">Let's Get Started - Join The Family Map</a>
                </div>
                <div id="testimonialssp">
                    <a href="~/clientsTestimonials/Clients" title="People Are Talking - Hear what our clients and partners have to say about The Family Map.">People Are Talking - Hear what our clients and partners have to say about The Family Map.</a>
                </div>
            </div>

        </div>		<div class="rcontent right">
            <h1>Intervention Tool</h1>
            <p>The Family Map helps educators and parents identify meaningful goals. The interviews identify strengths and risks at home. They establish parent-educator partnerships to help children grow up healthier and happier.  The Family Map has been shown to enhance the parent-educator partnership.  Educators routinely report that the Family Map helps move the conversation to the important topics and that they learn about the child’s life at home.</p>
            <p><strong>Download to learn more:</strong></p>
            <p><a href="~/Content/pdf/Intervention.pdf">Summary of Family Map as Intervention Tool</a></p>
            <p>&nbsp;</p>
        </div>
    </div>
</body>
</html>

