@model TheFamilyMapOnline.Models.Research

@using System.Web.Mvc

@{
    <title> Newest research </title>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
}
<!doctype html>
<html>

<body id="research">
   
    <div id="content">
        <div class="left">


            <h2>Research</h2>
            <ul id="subnavigation">
                <li class="page_item page-item-1329 current_page_item"><a href="http://www.thefamilymap.org/research/newest-research/">Newest Research</a></li>
                <li class="page_item page-item-405"><a href="http://www.thefamilymap.org/research/whats-measured/">What&#8217;s Measured</a></li>
                <li class="page_item page-item-414"><a href="http://www.thefamilymap.org/research/reliability-validity-data/">Reliability &#038; Validity</a></li>
                <li class="page_item page-item-412"><a href="http://www.thefamilymap.org/research/an-evaluation-tool/">Evaluation Tool</a></li>
                <li class="page_item page-item-1336"><a href="http://www.thefamilymap.org/research/intervention-tool/">Intervention Tool</a></li>
                <li class="page_item page-item-1322"><a href="http://www.thefamilymap.org/research/home-visiting/">Home Visiting</a></li>
                <li class="page_item page-item-410"><a href="http://www.thefamilymap.org/research/used-by-programsagencies/">Programs/Agencies</a></li>
                <li class="page_item page-item-408"><a href="http://www.thefamilymap.org/research/acceptance-by-teacher-and-parents/">Teacher &#038; Parents</a></li>
                <li class="page_item page-item-521"><a href="http://www.thefamilymap.org/research/development-team/">Development Team</a></li>
            </ul>
            <div id="spotlights">
                <div id="lets-get-started">
                    <a href="http://www.uams.edu/FamilyMed/Scripts/rws5.pl?FORM=FamilyMapInquiry" title="Let's Get Started - Join The Family Map Today!">Let's Get Started - Join The Family Map</a>
                </div>
                <div id="testimonialssp">
                    <a href="http://www.thefamilymap.org/clientstestimonials/" title="People Are Talking - Hear what our clients and partners have to say about The Family Map.">People Are Talking - Hear what our clients and partners have to say about The Family Map.</a>
                </div>
                <!--<div id="programssp">
                    <div id="view-all-link">
                        <a href="" title="View All of the Programs that Use The Family Map.">View All</a>
                    </div>
                    <img src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/images/programs/head-start.png" />
                    <img src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/images/programs/hippy-usa.png" />
                </div>-->
            </div>

        </div>		<div class="rcontent right">
            <h1>Newest Research</h1>
            <p>The Family Map team continues to conduct research on the best ways to use the Family Map.  Our newest work shows that the Family Map can be used to screen preschool children for Adverse Childhood Experiences.</p>
            <p><strong>Video Presentation</strong></p>
            <p><a href="https://video.uams.edu/videoindex/blackboard_video_play.aspx?videoID=35504D5A4A5044666F62553D">Screening for Adverse Childhood Experiences in Preschool.</a> Talk presented by Dr. Leanne Whiteside-Mansell to the Arkansas Association for Infant Mental Health (51 minutes)</p>
            <p><strong>Downloads to learn more</strong></p>
            <p><a href="http://www.thefamilymap.org/wp-content/uploads/2015/11/ACES-screen.pdf">Summary of Family Map as ACES screen</a></p>
            <p><strong>Full paper</strong></p>
            <p><a title="Family Map as an ACES Screen - Full Paper" href="http://www.sciencedirect.com/science/article/pii/S0145213415003233">Family Map as ACES screen &#8211; Full Paper</a></p>
            <p>&nbsp;</p>
        </div>
    </div>
</body>
</html>