@model TheFamilyMapOnline.Models.research

@using System.Web.Mvc

@{
    <title> Programs Agencies </title>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
}
<!doctype html>
<html>

<body id="research">
    
    <div id="content">
        <div class="left">


            <h2>Research</h2>
            <ul id="subnavigation">
                <li class="page_item page-item-1329"><a href="http://www.thefamilymap.org/research/newest-research/">Newest Research</a></li>
                <li class="page_item page-item-405"><a href="http://www.thefamilymap.org/research/whats-measured/">What&#8217;s Measured</a></li>
                <li class="page_item page-item-414"><a href="http://www.thefamilymap.org/research/reliability-validity-data/">Reliability &#038; Validity</a></li>
                <li class="page_item page-item-412"><a href="http://www.thefamilymap.org/research/an-evaluation-tool/">Evaluation Tool</a></li>
                <li class="page_item page-item-1336"><a href="http://www.thefamilymap.org/research/intervention-tool/">Intervention Tool</a></li>
                <li class="page_item page-item-1322"><a href="http://www.thefamilymap.org/research/home-visiting/">Home Visiting</a></li>
                <li class="page_item page-item-410 current_page_item"><a href="http://www.thefamilymap.org/research/used-by-programsagencies/">Programs/Agencies</a></li>
                <li class="page_item page-item-408"><a href="http://www.thefamilymap.org/research/acceptance-by-teacher-and-parents/">Teacher &#038; Parents</a></li>
                <li class="page_item page-item-521"><a href="http://www.thefamilymap.org/research/development-team/">Development Team</a></li>
            </ul>
            <div id="spotlights">
                <div id="lets-get-started">
                    <a href="http://www.uams.edu/FamilyMed/Scripts/rws5.pl?FORM=FamilyMapInquiry" title="Let's Get Started - Join The Family Map Today!">Let's Get Started - Join The Family Map</a>
                </div>
                <div id="testimonialssp">
                    <a href="http://www.thefamilymap.org/clientstestimonials/" title="People Are Talking - Hear what our clients and partners have to say about The Family Map.">People Are Talking - Hear what our clients and partners have to say about The Family Map.</a>
                </div>
                <!--<div id="programssp">
                    <div id="view-all-link">
                        <a href="" title="View All of the Programs that Use The Family Map.">View All</a>
                    </div>
                    <img src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/images/programs/head-start.png" />
                    <img src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/images/programs/hippy-usa.png" />
                </div>-->
            </div>

        </div>		<div class="rcontent right">
            <h1>Used by Programs/Agencies</h1>
            <p>The Family Map can be used effectively for record keeping and monitoring, self-assessment, and outcomes measurement. Administering the Family Map at the beginning and end of the program year allows programs to monitor improvement across families and to identify new strengths and concerns. It can also help early childcare programs demonstrate the impact of services to families and to determine new kinds of support needed by families.</p>
            <p><strong>Read more about it:</strong></p>
            <p><a href="http://www.thefamilymap.org/wp-content/uploads/2012/10/Evaluation-Tool1.pdf" target="_blank">Summary of Family Map as Evaluation Tool</a></p>
            <p><a href="http://www.thefamilymap.org/wp-content/uploads/2012/10/Intervention.pdf" target="_blank">Summary of Family Map as Intervention Tool</a></p>
            <p><a href="http://www.thefamilymap.org/wp-content/uploads/2012/10/FPA.pdf" target="_blank">Summary of the Use of the Family Map as Family Partnership Agreement</a></p>
            <p><a href="http://www.thefamilymap.org/wp-content/uploads/2012/10/Research-HSRC-2009-Documenting-Impacts.pdf" target="_blank">Research &#8211; HSRC 2009 Documenting Impacts</a></p>
        </div>
    </div>
</body>
</html>