@model TheFamilyMapOnline.Models.research 

@{
    <title> research Page</title>
    ViewBag.Title = "Research page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html>

<body id="research">
    
    <div id="content">
        <div class="left">


            <h2>Research</h2>
            <ul id="subnavigation">
                <li class="page_item page-item-1329"><a href="http://www.thefamilymap.org/research/newest-research/">Newest Research</a></li>
                <li class="page_item page-item-405"><a href="http://www.thefamilymap.org/research/whats-measured/">What&#8217;s Measured</a></li>
                <li class="page_item page-item-414"><a href="http://www.thefamilymap.org/research/reliability-validity-data/">Reliability &#038; Validity</a></li>
                <li class="page_item page-item-412"><a href="http://www.thefamilymap.org/research/an-evaluation-tool/">Evaluation Tool</a></li>
                <li class="page_item page-item-1336"><a href="http://www.thefamilymap.org/research/intervention-tool/">Intervention Tool</a></li>
                <li class="page_item page-item-1322"><a href="http://www.thefamilymap.org/research/home-visiting/">Home Visiting</a></li>
                <li class="page_item page-item-410"><a href="http://www.thefamilymap.org/research/used-by-programsagencies/">Programs/Agencies</a></li>
                <li class="page_item page-item-408"><a href="http://www.thefamilymap.org/research/acceptance-by-teacher-and-parents/">Teacher &#038; Parents</a></li>
                <li class="page_item page-item-521"><a href="http://www.thefamilymap.org/research/development-team/">Development Team</a></li>
            </ul>
            <div id="spotlights">
                <div id="lets-get-started">
                    <a href="http://www.uams.edu/FamilyMed/Scripts/rws5.pl?FORM=FamilyMapInquiry" title="Let's Get Started - Join The Family Map Today!">Let's Get Started - Join The Family Map</a>
                </div>
                <div id="testimonialssp">
                    <a href="http://www.thefamilymap.org/clientstestimonials/" title="People Are Talking - Hear what our clients and partners have to say about The Family Map.">People Are Talking - Hear what our clients and partners have to say about The Family Map.</a>
                </div>
                <!--<div id="programssp">
                    <div id="view-all-link">
                        <a href="" title="View All of the Programs that Use The Family Map.">View All</a>
                    </div>
                    <img src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/images/programs/head-start.png" />
                    <img src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/images/programs/hippy-usa.png" />
                </div>-->
            </div>

        </div>		<div class="rcontent right">
            <h1>Research</h1>
            <p>The Family Map was developed and tested with three major sociocultural groups: European Americans, African Americans, and Latinos. It was developed in close collaboration with and modified based on conversations with families, classroom educators, home visitors, administrators, and other staff working with families. The development process included an extensive literature review, the identification and evaluation of existing screening tools/items, and a cyclical process of field testing new items, revising, and repeating field testing.</p>
            <p>We have documented this process in publications and continue to research the usefulness of the Family Map.</p>
            <p>
                <strong>Learn more</strong><a href="http://www.thefamilymap.org/wp-content/uploads/2012/05/Summary-of-Development-of-Family-Map.pdf" target="_blank">
                    <br />
                </a><a href="http://www.thefamilymap.org/wp-content/uploads/2012/05/Development.pdf">Summary of Development of The Family Map</a>
            </p>
            <p><a href="http://www.thefamilymap.org/wp-content/uploads/2012/05/Publications.pdf" target="_blank">Publications and Presentations</a></p>
            <p style="text-align: center;"><img class="aligncenter" title="Picture1" src="http://www.thefamilymap.org/wp-content/uploads/2012/05/Picture1-300x290.jpg" alt="" width="300" height="290" /></p>
        </div>
    </div>
    
</body>
</html>