@model TheFamilyMapOnline.Models.Overview

@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header text-success">Overview</h2>

<div class="form-group">
    <ul>
        <li class="form-control">
            <span>test</span>
        </li>
        <li>
            <span>test</span>
        </li>
        <li>
            <span>test</span>
        </li>
    </ul>

</div>