@model TheFamilyMapOnline.Models.Research
@using System.Web.Mvc

@{
    <title> What's measured </title>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html>

<body id="research">
    <div id="content">
        <div class="left">
            <h2>Research</h2>
            <ul id="subnavigation">
                <li class="page_item page-item-1329"><a href="~/Research/NewestResearch">Newest Research</a></li>
                <li class="page_item page-item-405"><a href="~/Research/WhatsMeasured">What&#8217;s Measured</a></li>
                <li class="page_item page-item-414"><a href="~/Research/ReliabilityValidity">Reliability &#038; Validity</a></li>
                <li class="page_item page-item-412"><a href="~/Research/EvaluationTool">Evaluation Tool</a></li>
                <li class="page_item page-item-1336"><a href="~/Research/InterventionTool">Intervention Tool</a></li>
                <li class="page_item page-item-1322"><a href="~/Research/HomeVisiting">Home Visiting</a></li>
                <li class="page_item page-item-410"><a href="~/Research/ProgramsAgencies">Programs/Agencies</a></li>
                <li class="page_item page-item-408"><a href="~/Research/TeacherParents/">Teacher &#038; Parents</a></li>
                <li class="page_item page-item-521"><a href="~/Research/DevelopmentTeam">Development Team</a></li>
            </ul>
            <div id="spotlights">
                <div id="lets-get-started">
                    <a href="~/AgenContact/Create" title="Let's Get Started - Join The Family Map Today!">Let's Get Started - Join The Family Map</a>
                </div>
                <div id="testimonialssp">
                    <a href="~/clientsTestimonials/Clients" title="People Are Talking - Hear what our clients and partners have to say about The Family Map.">People Are Talking - Hear what our clients and partners have to say about The Family Map.</a>
                </div>
            </div>
        </div>
        <div class="rcontent right">
            <h1>What&#8217;s Measured</h1>
            <p>Areas included in the Family Map were identified from extensive literature reviews. For each construct, we identified a pool of potentially useful items from assessment tools with a track-record of use in families with young children. Risk levels were determined from experts like the American Pediatrics Association, from comparisons with longer assessments of the construct, and from analysis of pilot data.</p>
            <p><a href="~/Content/pdf/Summary-of-Family-Map-and-School-Readiness.pdf">Summary of Family Map and School Readiness</a></p>
            <blockquote>
                <ol>
                    <li><strong>Self Support</strong> &#8211; Language in home, education, employment, family support and parenting experience</li>
                    <li><strong>Routines</strong> &#8211; Housing stability, daily routines, TV use and child sleep habits</li>
                    <li><strong>School Readiness</strong> &#8211; Materials for play and learning, reading and books, play with child and other efforts to teach the child in the home, experience outside the home</li>
                    <li><strong>Monitoring</strong> &#8211; Parent daily supervision, care at night and by others</li>
                    <li><strong>Environmental Safety</strong> &#8211; Neighborhood safety, child exposure to violence</li>
                    <li><strong>Family Cohesion</strong> &#8211; Family conflict and cohesion, parenting stress</li>
                    <li><strong>Discipline</strong> &#8211; Use of punishment and discipline practices</li>
                    <li><strong>Health</strong> &#8211; Physical and emotional health, health care access and use, preventive health activities of parent, depression, exposure to alcohol and drug use</li>
                    <li><strong>Basic Needs</strong> &#8211; Household expenses, food access, and nutrition</li>
                    <li><strong>Home and Car Safety</strong> &#8211; Vehicle safety practices, fire and smoke safety, child access to dangerous materials and poisons, household injury risks</li>
                    <li><strong>Social Integration</strong> &#8211; Support of parent by other adults, parental community engagement</li>
                    <li><strong>Parent-child warmth</strong> &#8211; Parent warmth and support of the child</li>
                </ol>
            </blockquote>
            <div class="rehabtabs">
                <ul><li><a href="#rehabtabs-5a09baeb10803"><span>Self Support</span></a></li><li><a href="#rehabtabs-5a09baeb10844"><span>Routines</span></a></li><li><a href="#rehabtabs-5a09baeb10880"><span>Early Learning</span></a></li><li><a href="#rehabtabs-5a09baeb108ba"><span>Monitoring</span></a></li><li><a href="#rehabtabs-5a09baeb108f5"><span>Environmental Safety</span></a></li><li><a href="#rehabtabs-5a09baeb10930"><span>Family Cohesion</span></a></li><li><a href="#rehabtabs-5a09baeb1096a"><span>Discipline</span></a></li><li><a href="#rehabtabs-5a09baeb109a5"><span>Health</span></a></li><li><a href="#rehabtabs-5a09baeb109e0"><span>Basic Needs</span></a></li><li><a href="#rehabtabs-5a09baeb10a04"><span>Home and Car Safety</span></a></li><li><a href="#rehabtabs-5a09baeb10a3e"><span>Social Integration</span></a></li><li><a href="#rehabtabs-5a09baeb10a7a"><span>Parental Warmth</span></a></li></ul><div id="rehabtabs-5a09baeb10803">
                    </p>
                    <div class="left"><a href="~/Content/img/Self-Support.jpg"><img class="alignleft size-thumbnail wp-image-457" title="Self Support" src="~/Content/img/Self-Support1-150x150.jpg" alt="" width="150" height="150" /></a></div>
                    <div class="right">
                        <h2>Self Support</h2>
                        <p>Language in home, education, employment, family support and parenting experience</p>
                        <p>Education and employment are the foundation that supports families in providing for their children. Parental education is a strong predictor of later child educational success. Parents with more education also tend to provide a more interesting and educational home environment for their children. Having enough funds to provide the basic needs and materials for children in the home is, of course, related to employment.</p>
                        <p>However, going to school while taking care of a family often generates new challenges related to child care, time management, and family routines. Lack of money often causes stress for parents and interferes with their ability to parent effectively. On the other hand, too much time spent working can have a cost to the family. Working evening or night shifts, as opposed to day shifts, is related to increased depression in parents and increased behavior problems in preschool children. It is likely that the increased problems for parents and children are partially caused by the added stress and family conflict that occurs in these situations. Parents working or studying many hours do not have the time to spend with their children and each other.</p>
                        <p>For prenatal women, disruptions in work and school can have their own set of problems. Some jobs may present risks to the health of the parent or child; for example, work that exposes women to chemicals. For mothers of infants, the work schedule has another set of demands and stresses as they transition into parenthood and/or return to work.</p>
                        <p>Much of the information obtained at the beginning of the Family Map interview is used later in the interview. By understanding the parent’s education and family background, other information can be interpreted more clearly. It is also helpful to understand the education and work background of others in the home and outside the home who may help parent the target child.</p>
                    </div>
                    <p>
                </div>
                <div id="rehabtabs-5a09baeb10844">
                    </p>
                    <div class="left"><a href="~/Content/img/Routines.jpg"><img class="alignleft size-thumbnail wp-image-470" title="Routines" src="~/Content/img/Routines-150x150.jpg" alt="" width="150" height="150" /></a></div>
                    <div class="right">
                        <h2>Routines</h2>
                        <p>Housing stability, daily routines, TV use and child sleep</p>
                        <p>Having a set, daily routine and organized home can help children develop important skills like self-control and decrease misbehavior. Children like knowing what is going to happen and when! Children in homes with regular daily routines are more in control of their emotions and have fewer tantrums.</p>
                        <p>Parents can also help children by providing a home free of distracting noise and activities. Like family routines, an organized and calm home helps the child learn and become more self-controlled. Children with regular bedtime routines settle to sleep sooner and wake up less frequently during the night than those with less regular routines. When there are regular routines in the household, infants have shorter bouts of respiratory infections, and preschool children are considered generally healthier. Overall, during infancy and preschool, children are healthier and behave better when there are predictable routines in the family.</p>
                        <p>The Family Map includes questions about structure and stability in the home. Knowing what the child can or cannot expect affects how they respond to their environment. By understanding the routines the child has at home, their behavior in the classroom or elsewhere can be better understood.</p>
                    </div>
                    <p>
                </div>
                <div id="rehabtabs-5a09baeb10880">
                    </p>
                    <div class="left"><a href="~/Content/img/early-learning.jpg"><img class="alignleft size-thumbnail wp-image-459" title="early learning" src="~/Content/img/early-learning-150x150.jpg" alt="" width="150" height="150" /></a></div>
                    <div class="right">
                        <h2>Early Learning</h2>
                        <p>Materials for play and learning, reading and books, parent and others play and learning with child, experience outside the home.</p>
                        <p>Ensuring children are ready for school is one of the most pressing issues in early childhood. School readiness requires physical health, brain development, social skills, good behavior skills, and a positive attitude toward learning. There is strong research evidence that parents can help children be ready for school by the things they provide in the home and do with their children. Important things parents do for children include talking to them, reading to them, and teaching. In the home, teaching happens all the time, like when parents involve children in household activities and family projects. All of these activities are linked to later learning.</p>
                        <p>The people, things, and places children are exposed to make an important difference in their development. These early experiences influence brain development. They also provide the foundation for language, reasoning, problem solving, social skills, behavioral adjustment and emotional health.</p>
                        <p>The Family Map focuses on four areas related to early learning:</p>
                        <ol>
                            <li>what toys and learning materials the child can use in the home,</li>
                            <li>books and reading,</li>
                            <li>parent-child play and efforts to teach in the home, and</li>
                            <li>extra activities outside the home with the family.</li>
                        </ol>
                    </div>
                    <p>
                </div>
                <div id="rehabtabs-5a09baeb108ba">
                    </p>
                    <div class="left"><a href="~/Content/img/monitoring.jpg"><img class="alignleft size-thumbnail wp-image-460" title="monitoring" src="~/Content/img/monitoring-150x150.jpg" alt="" width="150" height="150" /></a></div>
                    <div class="right">
                        <h2>Monitoring</h2>
                        <p>Parent daily supervision, care at night and by others.</p>
                        <p>The most common injuries in the home involving children under the age of 5 years include falls from heights, burns, and poisonings. Most accidents or unintentional injuries happen because parents are not monitoring or supervising children. For parents with low incomes, providing a safe, well monitored play area is challenging for several reasons. First, the play areas of children living in poverty often contain hazards like lead paint or unsafe playground equipment. Second, monitoring is much harder when parents are stressed, isolated, or the sole caregiver of the child.</p>
                        <p>Lack of supervision increases the risk of a wide range of injuries including poisoning, choking, exposure to toxic household materials, and falls. How much a parent monitors is related to the parent’s view of their role as a caregiver. It is also related to the parent’s belief that they can control things or that ‘accidents just happen.’ The Family Map includes questions about who supervises and where the child is supervised.</p>
                    </div>
                    <p>
                </div>
                <div id="rehabtabs-5a09baeb108f5">
                    </p>
                    <div class="left"><a href="~/Content/img/Environmental-Safety.jpg"><img class="alignleft size-thumbnail wp-image-461" title="Environmental Safety" src="~/Content/img/Environmental-Safety-150x150.jpg" alt="" width="150" height="150" /></a></div>
                    <div class="right">
                        <h2>Environmental Safety</h2>
                        <p>Neighborhood safety, child exposure to violence.</p>
                        <p>Children who live in unsafe neighborhoods will more likely witness or experience violence. Children who have seen violence in their home, school, or community often have problems with developmental delays. These children do poorly in school, miss school more, and have a lower grade point average. Children who see violence may be depressed, anxious, and feel bad about themselves.</p>
                        <p>The Family Map includes questions about how the family feels about the neighborhood they live in. Sometimes families live in unsafe neighborhoods but may still develop a closeness with neighbors that reduces fearful feelings. Having neighbors they can trust makes them feel more secure about the safety of their children.</p>
                    </div>
                    <p>
                </div>
                <div id="rehabtabs-5a09baeb10930">
                    </p>
                    <div class="left"><a href="~/Content/img/family-cohesion.jpg"><img class="alignleft size-thumbnail wp-image-462" title="family cohesion" src="~/Content/img/family-cohesion-150x150.jpg" alt="" width="150" height="150" /></a></div>
                    <div class="right">
                        <h2>Family Cohesion</h2>
                        <p>Family conflict and cohesion, parenting stress</p>
                        <p>How well families get along is important for healthy child development. Young children are confused and distressed when parents disagree and argue. Even very young infants are aware of conflict in families. On the other hand, children from families that are close and supportive usually grow up with fewer problems. These families are said to have good family cohesion. Cohesion is defined as the emotional bond among family members.</p>
                        <p>“Cohesive” families are strong and have a positive feel. Cohesive families have a lot of interpersonal closeness, high levels of communication, and harmony. These families do things together and help each other often. Children growing up in families marked by high cohesion are better adjusted and may have better outcomes. Family cohesion may be most important for children living in adverse circumstances like poverty, violence, and war. The Family Map includes questions on the level of family conflict and support in the family.</p>
                    </div>
                    <p>
                </div>
                <div id="rehabtabs-5a09baeb1096a">
                    </p>
                    <div class="left"><a href="~/Content/img/discipline.jpg"><img class="alignleft size-thumbnail wp-image-463" title="discipline" src="~/Content/img/discipline-150x150.jpg" alt="" width="150" height="150" /></a></div>
                    <div class="right">
                        <h2>Discipline</h2>
                        <p>Use of punishment and discipline practices.</p>
                        <p>Parents often think of discipline as spanking or controlling the child. However, real discipline teaches children to control themselves. Self-control is a critical skill at home and at school. Many parents value the use of corporal punishment—called spanking by most people—but many studies show that it is not helpful in teaching children how to discipline themselves.</p>
                        <p>The Family Map not only screens for what type of discipline strategies the parent uses but how these strategies are being used. Using discipline that is both age and situation appropriate is important for being successful, as is consistency. It will be easier to discipline and teach the child when the discipline being carried out is used correctly and appropriately.</p>
                    </div>
                    <p>
                </div>
                <div id="rehabtabs-5a09baeb109a5">
                    </p>
                    <div class="left"><a href="~/Content/img/physical-mental-health.jpg"><img class="alignleft size-thumbnail wp-image-464" title="physical &amp; mental health" src="~/Content/img/physical-mental-health-150x150.jpg" alt="" width="150" height="150" /></a></div>
                    <div class="right">
                        <h2>Health</h2>
                        <p>Physical and emotional health, health care access and use, preventive health activities of parent, exposure to alcohol and drug use.</p>
                        <p>Making sure children have well-child visits and immunizations is important for good health. Additionally, when parents have serious health problems, it difficult to provide the best parenting and home life possible for children. Sometimes parents’ quality time with their children is limited by caring for co-parents or other family members who are ill or have disabilities. Mental health concerns can also make parenting more challenging. Depression is a common mental health concern for low-income families. Children of substance-abusing parents are at high risk for a range of health, developmental, and behavioral problems. A child can be affected by substance abuse in both the prenatal and post-natal environments. Parents who over-use drugs or alcohol often have problems providing good parenting. Even parents with a friend or family members who over-use drugs or alcohol have more risk factors identified by the Family Map.</p>
                        <p>The Family Map screen for health addresses issues the parent, child, and close friends or family may be facing. When any one of these people is facing serious health issues, physically or mentally, the caregiver can be distracted and have trouble parenting the child.</p>
                    </div>
                    <p>
                </div>
                <div id="rehabtabs-5a09baeb109e0">
                    </p>
                    <div class="left"><a href="~/Content/img/basic-needs.jpg"><img class="alignleft size-thumbnail wp-image-465" title="basic needs" src="~/Content/img/basic-needs-150x150.jpg" alt="" width="150" height="150" /></a></div>
                    <div class="right">
                        <h2>Basic Needs</h2>
                        <p>Household expenses, food access, and nutrition.</p>
                        <p>All children require adequate nutrition, shelter, and healthcare to ensure survival. Meeting these basic needs is as vitally important to psychological development as it is to physical development. Family resources are needed for the parent to provide a home, food, and medical care for children. These Family Map questions are designed to determine risks for financial stress, risks due to lack of resources, and physical risks due to poor nutrition.</p>
                    </div>
                    <p>
                </div>
                <div id="rehabtabs-5a09baeb10a04">
                    </p>
                    <div class="left"><a href="~/Content/img/home-and-car-safety.jpg"><img class="alignleft size-thumbnail wp-image-466" title="home and car safety" src="~/Content/img/home-and-car-safety-150x150.jpg" alt="" width="150" height="150" /></a></div>
                    <div class="right">
                        <h2>Home and Car Safety</h2>
                        <p>Vehicle safety practices, fire and smoke safety, child access to dangerous materials and poisons, household injury risks.</p>
                        <p>The need for parents to protect children from accidents is obvious. Accidents are the leading cause of death and serious injury in children from ages 1 to 5 years. Unfortunately, the risk to children is highest among youth living in poverty and for children living with parents with little education. This is especially the case for deaths from falls, suffocations, and pedestrian–motor vehicle collisions. The most common home injuries for children under the age of 5 are falls from heights, burns, and poisonings.</p>
                        <p>The child’s safety is a major concern. Many times child injuries can be prevented through being intentional about making the child’s environment safer. This section of the Family Map can be used as both a screening and educational tool to help the parent to understand how to improve safety for their child.</p>
                    </div>
                    <p>
                </div><div id="rehabtabs-5a09baeb10a3e">
                    </p>
                    <div class="left"><a href="~/Content/img/social-integration.jpg"><img class="alignleft size-thumbnail wp-image-467" title="social integration" src="~/Content/img/social-integration-150x150.jpg" alt="" width="150" height="150" /></a></div>
                    <div class="right">
                        <h2>Social Integration</h2>
                        <p>Support of parent by other adults, parental community engagement</p>
                        <p>Social Integration means that the parent and child are connected to other people in the home, family, school, and community. Most parents do not realize how they are helping children be part of the community, but it is an important parenting job. Usually, the child starts by spending time with extended family. As the child gets older, the groups of people that the parent introduces to the child as friends or mentors are people in the neighborhood, at churches, clubs, child care, and at school. Parents may do this by helping their child attend events with other people.</p>
                        <p>For parents, having support from other adults will help in their role as parents. Friends give advice, help with child care, or provide financial support. They can help relieve stress by sharing a hobby or activity with the parent. Families also benefit when parents have close and supportive friends, families, and involvement in programs like yours. For example, Head Start programs require that parents are active in the program, in part, because research has shown it helps parents and children when parents are involved in the child’s school. This is why many programs sponsor parent education nights, parent-teacher conferences, or volunteer opportunities for parents in the school or child care center. Taken together, this information suggests that children benefit when parents are engaged in the community and involved with school activities.</p>
                        <p>The Family Map includes questions assessing the parent and child’s support system with family and friends. When families become isolated, their risks increase. Caregivers become more at risk for harsh parenting, and the child’s development is more at risk. Helping parents to feel <strong>more</strong> part of a community can help alleviate their stress level and expose the child to more learning opportunities.</p>
                    </div>
                    <p>
                </div>
                <div id="rehabtabs-5a09baeb10a7a">
                    </p>
                    <div class="left"><a href="~/Content/img/parental-warmth.jpg"><img class="alignleft size-thumbnail wp-image-468" title="parental warmth" src="~/Content/img/parental-warmth-150x150.jpg" alt="" width="150" height="150" /></a></div>
                    <div class="right">
                        <h2>Parental Warmth</h2>
                        <p>Observational assessment of warmth and bonding between parent and child.</p>
                        <p>Children thrive when they feel wanted. Feeling wanted as a young child can even help us succeed as adults. Across all cultures, research has shown that warm, supportive parents help promote children’s good adjustment, sense of well-being, good health, and a wealth of other positive developmental outcomes. To be supportive, parents must take the lead to show affection, to hug, pat, and kiss their child. Their job is also to know when a child may need comforting, even before the child him/herself may know they need it. This section of the Family Map is done through interviewer observations rather than by parent self-report.</p>
                    </div>
                    <p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>