@model TheFamilyMapOnline.Models.ClientsTestimonials

@{
    <title> Clients& Testimonials </title>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Clients/Testimonials</h2>
<!doctype html>
<html>
<body id="clients">
    <div id="content">
        <div class="left">


            <div id="spotlights">
                <div id="lets-get-started">
                    <a href="http://www.uams.edu/FamilyMed/Scripts/rws5.pl?FORM=FamilyMapInquiry" title="Let's Get Started - Join The Family Map Today!">Let's Get Started - Join The Family Map</a>
                </div>
                <div id="testimonialssp">
                    <a href="http://www.thefamilymap.org/clientstestimonials/" title="People Are Talking - Hear what our clients and partners have to say about The Family Map.">People Are Talking - Hear what our clients and partners have to say about The Family Map.</a>
                </div>
                <!--<div id="programssp">
                    <div id="view-all-link">
                        <a href="" title="View All of the Programs that Use The Family Map.">View All</a>
                    </div>
                    <img src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/images/programs/head-start.png" />
                    <img src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/images/programs/hippy-usa.png" />
                </div>-->
            </div>

        </div>		<div class="rcontent right">
            <h1>Clients</h1>
            <p>Read some of our clients&#8217; testimonials below.</p>
            <hr>
            <!-- Retrieve all Testimonials -->
            <div class="testimonialblock">
                <h2>I&#8217;m Convinced</h2>
                <p>This training was very informative and shed a different light on Family Map!  I hope that this training/trainer is used often.  The manual is great and will be useful for all purposes!</p>
                <p class="name"></p>
                <p class="read-more"><a href="http://www.thefamilymap.org/testimonials/im-convinced/" title="Read I&#8217;m Convinced's full testimony.">Read More &raquo;</a></p>
            </div>
            <div class="testimonialblock">
                <h2>Staff Success</h2>
                <p>&#8220;I was trained a few years back and have implemented FMI for the Preschool Head Start families.  I have 20 family advocates that provide the direct services and have really grown to appreciate the Family MAPS Inventory tool.  There was fear at first because of the tools size and the depth of questions asked, however my advocates love it!   It was great watching the staff grow over the past years with this tool. We have seasoned staff; one has worked <a class="moretag" href="http://www.thefamilymap.org/testimonials/staff-success/">[read more]</a></p>
                <p class="name"></p>
                <p class="read-more"><a href="http://www.thefamilymap.org/testimonials/staff-success/" title="Read Staff Success's full testimony.">Read More &raquo;</a></p>
            </div>
            <div class="testimonialblock">
                <h2>Infant Development Coordinator</h2>
                <p>&#8220;&#8230;it has been a great tool so far and helped us a lot to set the direction and guidelines when developing our family service plan.&#8221;</p>
                <p class="name"></p>
                <p class="read-more"><a href="http://www.thefamilymap.org/testimonials/infant-development-coordinator/" title="Read Infant Development Coordinator's full testimony.">Read More &raquo;</a></p>
            </div>
            <div class="testimonialblock">
                <h2>Community Partnerships</h2>
                <p>&#8220;&#8230;We are so excited to implement this tool&#8230;&#8221;</p>
                <p class="name"></p>
                <p class="read-more"><a href="http://www.thefamilymap.org/testimonials/community-partnerships/" title="Read Community Partnerships's full testimony.">Read More &raquo;</a></p>
            </div>
            <div class="testimonialblock">
                <h2>Coordinator of Pre-School Programs</h2>
                <p>&#8220;&#8230;It has created a culture of openness and trust between our parents and staff.  Through the Family Map process parents come to understand that we genuinely care about their family&#8217;s overall well-being&#8230;&#8221;</p>
                <p class="name"></p>
                <p class="read-more"><a href="http://www.thefamilymap.org/testimonials/coordinator-of-pre-school-programs/" title="Read Coordinator of Pre-School Programs's full testimony.">Read More &raquo;</a></p>
            </div>
            <div class="testimonialblock">
                <h2>Program Manager</h2>
                <p>&#8220;&#8230;Initially, several teachers were resistant to using the Family Map, but they changed their minds after they saw how well it helped them to get to know their families better&#8230;&#8221;</p>
                <p class="name"></p>
                <p class="read-more"><a href="http://www.thefamilymap.org/testimonials/program-manager/" title="Read Program Manager's full testimony.">Read More &raquo;</a></p>
            </div>
            <div class="testimonialblock">
                <h2>Teacher</h2>
                <p>&#8220;&#8230;I think it can open a conversation up about what people might need in addition to what they are already doing or what they seem to be missing&#8230;&#8221;</p>
                <p class="name"></p>
                <p class="read-more"><a href="http://www.thefamilymap.org/testimonials/teacher/" title="Read Teacher's full testimony.">Read More &raquo;</a></p>
            </div>
            <div class="testimonialblock">
                <h2>Parent</h2>
                <p>“My teacher really showed concern.&#8221;</p>
                <p class="name"></p>
                <p class="read-more"><a href="http://www.thefamilymap.org/testimonials/parent-2/" title="Read Parent's full testimony.">Read More &raquo;</a></p>
            </div>
            <div class="testimonialblock">
                <h2>Parent</h2>
                <p>&#8220;I really like how thorough they are&#8230;&#8221;</p>
                <p class="name"></p>
                <p class="read-more"><a href="http://www.thefamilymap.org/testimonials/parent/" title="Read Parent's full testimony.">Read More &raquo;</a></p>
            </div>
            <div class="testimonialblock">
                <h2>Head Start Parent</h2>
                <p>&#8220;The teacher showed concern&#8230;&#8221;</p>
                <p class="name"></p>
                <p class="read-more"><a href="http://www.thefamilymap.org/testimonials/head-start-parent/" title="Read Head Start Parent's full testimony.">Read More &raquo;</a></p>
            </div>
            <div id="post-nav">
                <a href="http://www.thefamilymap.org/clientstestimonials/page/2/">Older &rarr;</a>
            </div>


        </div>
    </div>
</body>
</html>

