@model TheFamilyMapOnline.Models.Training
@using System.Web.Mvc

@{
    <title>Annual renewal page </title>
    <h3>@ViewBag.Message</h3>
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html>

<body id="training">
    <div id="content">
        <div class="left">
            <h2>Training</h2>
            <ul id="subnavigation">
                <li class="page_item page-item-852"><a href="~/Training/AnnualRenewal">Annual Renewal</a></li>
                <li class="page_item page-item-864"><a href="~/Training/arkansasproviders/">Arkansas Providers</a></li>
            </ul>
            <div id="spotlights">
                <div id="lets-get-started">
                    <a href="~/AgenContact/Create" title="Let's Get Started - Join The Family Map Today!">Let's Get Started - Join The Family Map</a>
                </div>
                <div id="testimonialssp">
                    <a href="~/clientsTestimonials/Clients" title="People Are Talking - Hear what our clients and partners have to say about The Family Map.">People Are Talking - Hear what our clients and partners have to say about The Family Map.</a>
                </div>
            </div>
        </div>
        <div class="rcontent right">
            <h1>Annual Renewal</h1>
            <p>Once an agency has used the Family Map for a year, the Family Map team will work with the program to renew its authorization.</p>
            <p>Programs are offered either a one-hour web-based session or onsite training, where we address updates from the past year.  This continuing education is necessary for your agency to maintain the fidelity of the Family Map and to continue receiving access to our tools, technical support, and online learning opportunities.</p>
        </div>
    </div>
</body>
</html>