@model TheFamilyMapOnline.Models.Training
    @using System.Web.Mvc

@{
    <title>Arkansas Providers </title>
    <h3>@ViewBag.Message</h3>
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html>

<body id="training">
  
    <div id="content">
        <div class="left">


            <h2>Training</h2>
            <ul id="subnavigation">
                <li class="page_item page-item-852"><a href="~/Training/AnnualRenewal">Annual Renewal</a></li>
                <li class="page_item page-item-864"><a href="~/Training/arkansasproviders/">Arkansas Providers</a></li>
            </ul>
            <div id="spotlights">
                <div id="lets-get-started">
                    <a href="http://www.uams.edu/FamilyMed/Scripts/rws5.pl?FORM=FamilyMapInquiry" title="Let's Get Started - Join The Family Map Today!">Let's Get Started - Join The Family Map</a>
                </div>
                <div id="testimonialssp">
                    <a href="http://www.thefamilymap.org/clientstestimonials/" title="People Are Talking - Hear what our clients and partners have to say about The Family Map.">People Are Talking - Hear what our clients and partners have to say about The Family Map.</a>
                </div>
                <!--<div id="programssp">
                    <div id="view-all-link">
                        <a href="" title="View All of the Programs that Use The Family Map.">View All</a>
                    </div>
                    <img src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/images/programs/head-start.png" />
                    <img src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/images/programs/hippy-usa.png" />
                </div>-->
            </div>

        </div>		<div class="rcontent right">
            <h1>Arkansas Providers</h1>
            <p>Arkansas Early Childhood Providers may be eligible for a state sponsored program that provides training and technical assistance to help your agency improve its family engagement.  This program is supported by funds from the <a href="http://humanservices.arkansas.gov/dccece/Pages/default.aspx" target="_blank"><strong>Arkansas Department of Human Services, Division of Child Care and Early Childhood Education</strong></a>.</p>
            <p>If you qualify there is no cost to you. Contact us at 501-686-6585 or <a href="mailto://familymap@uams.edu">FamilyMap@uams.edu</a> to determine your program’s eligibility.</p>
            <p style="text-align: center;"><a href="http://www.thefamilymap.org/wp-content/uploads/2013/01/state-flyer-10032012-v6.pdf" target="_blank"><img class="aligncenter  wp-image-877" title="Arkansas" src="http://www.thefamilymap.org/wp-content/uploads/2013/01/arkansas.png" alt="" width="296" height="274" srcset="http://www.thefamilymap.org/wp-content/uploads/2013/01/arkansas.png 617w, http://www.thefamilymap.org/wp-content/uploads/2013/01/arkansas-300x277.png 300w" sizes="(max-width: 296px) 100vw, 296px" /></a></p>
            <p style="text-align: center;"><a href="http://www.thefamilymap.org/wp-content/uploads/2013/08/state-flyer-052913-trifold.pdf"><strong>Download Arkansas Family Map Brochure – PDF</strong></a></p>
        </div>
    </div>
</body>
</html>