@model TheFamilyMapOnline.Models.Training

<body id="training">
    <h1>Arkansas Providers</h1>
    <p>
        Arkansas Early Childhood Providers may be eligible for a state sponsored program that provides training and technical assistance to help your agency improve its family engagement.  This program is supported by funds from the
        <a href="http://humanservices.arkansas.gov/dccece/Pages/default.aspx" target="_blank"><strong>Arkansas Department of Human Services, Division of Child Care and Early Childhood Education</strong></a>.
    </p>
    <p>If you qualify there is no cost to you. Contact us at 501-686-6585 or <a href="mailto://familymap@uams.edu">FamilyMap@uams.edu</a> to determine your program’s eligibility.</p>
    <p style="text-align: center;">
        <a href="~/Content/pdf/state-flyer-10032012-v6.pdf" target="_blank">
            <img class="aligncenter  wp-image-877" title="Arkansas" src="~/Content/img/arkansas.png" alt="" width="296" height="274" srcset="~/Content/img/arkansas.png 617w, ~/Content/img/arkansas-300x277.png 300w" sizes="(max-width: 296px) 100vw, 296px" />
        </a>
    </p>
    <p style="text-align: center;"><a href="~/Content/pdf/state-flyer-052913-trifold.pdf"><strong>Download Arkansas Family Map Brochure – PDF</strong></a></p>
</body>
