@model TheFamilyMapOnline.Models.Training

@using System.Web.Mvc

@{

    <title> Training page </title>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
}

<!doctype html>
<html>

<body id="training">
   
    <div id="content">
        <div class="left">


            <h2>Training</h2>
            <ul id="subnavigation">
                <li class="page_item page-item-852"><a href="http://www.thefamilymap.org/training/annual-renewal/">Annual Renewal</a></li>
                <li class="page_item page-item-864"><a href="http://www.thefamilymap.org/training/arkansas-providers/">Arkansas Providers</a></li>
            </ul>
            <div id="spotlights">
                <div id="lets-get-started">
                    <a href="http://www.uams.edu/FamilyMed/Scripts/rws5.pl?FORM=FamilyMapInquiry" title="Let's Get Started - Join The Family Map Today!">Let's Get Started - Join The Family Map</a>
                </div>
                <div id="testimonialssp">
                    <a href="http://www.thefamilymap.org/clientstestimonials/" title="People Are Talking - Hear what our clients and partners have to say about The Family Map.">People Are Talking - Hear what our clients and partners have to say about The Family Map.</a>
                </div>
                <!--<div id="programssp">
                    <div id="view-all-link">
                        <a href="" title="View All of the Programs that Use The Family Map.">View All</a>
                    </div>
                    <img src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/images/programs/head-start.png" />
                    <img src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/images/programs/hippy-usa.png" />
                </div>-->
            </div>

        </div>		<div class="rcontent right">
            <h1>Training</h1>
            <p><strong>Implementation begins with staff training, a step-by-step tour covering</strong></p>
            <ul>
                <li>Family engagement training in the use of The Family Map</li>
                <li>Practice with basic interview techniques</li>
                <li>Strategies to help strengthen the parent-educator partnership</li>
                <li>Access to ongoing web-based learning opportunities on topics related to the Family Map</li>
            </ul>
            <p><strong>Training Features</strong></p>
            <ul>
                <li>Web based learning session either before or after the in-person training</li>
                <li>6-hour live learning session – <a href="http://www.thefamilymap.org/wp-content/uploads/2012/10/Family-Map-SAMPLE-Training-Agenda.pdf" target="_blank">SAMPLE Training Agenda</a></li>
                <li>Maximum group size is 25</li>
                <li>All materials provided</li>
                <li>Upon completion, practitioner is authorized to conduct the Family Map Inventory</li>
                <li>Ongoing web-based learning</li>
            </ul>
            <p>Classes are scheduled as needed. They are typically held at Family Map headquarters in Little Rock, Arkansas, but may be held at your site with appropriate expenses for the trainer’s travel covered. We can customize a training and implementation plan for your agency.</p>
            <p>&nbsp;</p>
        </div>
    </div>
    
</body>
</html>
