@model TheFamilyMapOnline.Models.Home

@using System.Web.Mvc

@{
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    </head>
    
<body id="home">
    
    <div id="content">
        <div id="mast">
            <div class="right">
                <h2><img src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/images/better-childcare-starts-at-home.png" alt="Better Childcare Starts at Home" /></h2>
                <p><strong>The Family Map</strong> <strong>Inventories</strong> encourages healthy family engagement.  Using the Inventories, early childcare programs help families navigate these important early years of childhood.</p>
                <div id="learn-more">
                    <a href="http://www.thefamilymap.org/how-it-works/" title="Learn more about how The Family Map assessment tool works.">Learn More &raquo;</a>
                </div>
            </div>
            <div id="mast-images">
                <img width="612" height="324" src="http://www.thefamilymap.org/wp-content/uploads/2012/07/slide1.jpg" class="attachment-masthead-bg size-masthead-bg wp-post-image" alt="" srcset="http://www.thefamilymap.org/wp-content/uploads/2012/07/slide1.jpg 612w, http://www.thefamilymap.org/wp-content/uploads/2012/07/slide1-300x158.jpg 300w" sizes="(max-width: 612px) 100vw, 612px" />									<img width="612" height="324" src="http://www.thefamilymap.org/wp-content/uploads/2012/10/family-7-612x324.jpg" class="attachment-masthead-bg size-masthead-bg wp-post-image" alt="" />									<img width="612" height="324" src="http://www.thefamilymap.org/wp-content/uploads/2012/10/family-5-612x324.jpg" class="attachment-masthead-bg size-masthead-bg wp-post-image" alt="" />									<img width="612" height="324" src="http://www.thefamilymap.org/wp-content/uploads/2012/10/MP900439320-612x324.jpg" class="attachment-masthead-bg size-masthead-bg wp-post-image" alt="" />									<img width="612" height="324" src="http://www.thefamilymap.org/wp-content/uploads/2012/10/family-31-612x324.jpg" class="attachment-masthead-bg size-masthead-bg wp-post-image" alt="" />
            </div>
        </div>
    </div>
    <style type="text/css">
    .side-by-side { float: left; margin-right: 5px }
    </style>
    <div id="spotlights">
       
                     <div class="sided-by-side">
            <a href="http://www.uams.edu/FamilyMed/Scripts/rws5.pl?FORM=FamilyMapInquiry" title="Get Started">
                <img width="234" height="150" src="http://www.thefamilymap.org/wp-content/uploads/2012/07/get-started-spotlight.gif" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Let&#039;s Get Started - Join The Family Map" />
            </a>
        </div>
                    <div class="side-by-side">
            <a href="http://www.thefamilymap.org/research/" title="Research">
                <img width="234" height="150" src="http://www.thefamilymap.org/wp-content/uploads/2012/07/research-spotlight.gif" class="attachment-post-thumbnail  wp-post-image" alt="We&#039;ve Done Our Homework - Check Out Our Research!" />
            </a>
        </div>
                    <div class= "side-by-side">
            <a href="http://www.thefamilymap.org/training/" title="Training">
                <img width="234" height="150" src="http://www.thefamilymap.org/wp-content/uploads/2012/07/training-spotlight.gif" class="attachment-post-thumbnail wp-post-image" alt="Hands on Training - Learn More" />
            </a>
        </div>
                    <div class="side-by-side">
            <a href="http://www.thefamilymap.org/clientstestimonials/" title="Testimonials">
                <img width="234" height="150" src="http://www.thefamilymap.org/wp-content/uploads/2012/11/testimonials-spotlight.gif" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
            </a>
            </div>
        </div>
    
</body>
</html>

