@model TheFamilyMapOnline.Models.Overview
@using System.Web.Mvc
@{
    ViewBag.Title = "Overview";
    ViewBag.Message = "The Overview page.";
{
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("Overview", "index", FormMethod.Post))
    {

    <fieldset>

    </fieldset>
    }
}
 }
