@model TheFamilyMapOnline.Models.HowitWorks

@using System.Web.Mvc

@{
    <title> How it works Content page </title>
    <h3>@ViewBag.Message</h3>
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html>
<body id="how_it_works">
    <div id="content">
        <div class="left">
            <h2>How It Works</h2>
            <ul id="subnavigation">
                <li class="page_item page-item-475 current_page_item"><a href="~/HowitWorks/Content">Content</a></li>
                <li class="page_item page-item-1105"><a href="~/HowitWorks/format/">Format</a></li>
                <li class="page_item page-item-477"><a href="~/HowitWorks/StepstoAdopting">Steps to Adopting</a></li>
                <li class="page_item page-item-15"><a href="~/HowitWorks/FAQs">FAQs</a></li>
            </ul>
            <div id="spotlights">
                <div id="lets-get-started">
                    <a href="~/AgenContact/Create" title="Let's Get Started - Join The Family Map Today!">Let's Get Started - Join The Family Map</a>
                </div>
                <div id="testimonialssp">
                    <a href="~/clientsTestimonials/Clients" title="People Are Talking - Hear what our clients and partners have to say about The Family Map.">People Are Talking - Hear what our clients and partners have to say about The Family Map.</a> 
                </div>
            </div>
        </div>

        <div class="rcontent right">
            <h1>Content</h1>
            <p><strong>The Family Map Interviews are available for different age groups.</strong></p>
            <ul>
                <li>Early Childhood (for families of children 3 to 5 years)</li>
                <li>Infants and Toddlers (for families of children from birth to 3 years)</li>
                <li>Prenatal (for expectant mothers)<strong></strong></li>
            </ul>
            <p>
                <strong>Each interview question is research based</strong>.
                <strong>
                    <a href="~/Content/img/Breakfast.jpg">
                        <img class="size-medium wp-image-1162 alignright" title="Breakfast" src="~/Content/img/Breakfast-300x224.jpg" alt="" width="300" height="224" srcset="~/Content/img/Breakfast-300x224.jpg 300w, ~/Content/img/Breakfast-1024x765.jpg 1024w" sizes="(max-width: 300px) 100vw, 300px" />
                    </a>
                </strong>Interviews are divided into these 12 sections targeting home and parenting practices that support children:
            </p>
            <p>&nbsp;</p>
            <ul>
                <li><strong>Self-Support: </strong>Language in the home, education, employment, family support and parenting experience</li>
                <li><strong>Routines:</strong> Housing stability, daily routines, TV use, and child sleep habits</li>
                <li><strong>School Readiness:</strong> Materials for play and learning, reading and books, parent and others who play and encourage learning with their child, child experiences outside the home</li>
                <li><strong>Monitoring:</strong> Parent daily supervision, care at night and childcare by others</li>
                <li><strong>Environmental Safety:</strong> Neighborhood safety, child exposure to violence</li>
                <li><strong>Family Cohesion:</strong> Family conflict and cohesion, parenting stress</li>
                <li><strong>Discipline:</strong> Use of punishment and discipline practices</li>
                <li><strong>Health:</strong> Physical and emotional health, health care access and use, preventive health activities of parent, depression, exposure to alcohol and drug use</li>
                <li><strong>Basic Needs:</strong> Household expenses, food access, and nutrition</li>
                <li><strong>Home and Car Safety:</strong> Vehicle safety practices, fire and smoke safety, child access to dangerous materials and poisons</li>
                <li><strong>Social Integrat</strong><strong>ion:</strong> Support of parent by other adults, parental community engagement</li>
                <li><strong>Parent-Child W</strong><strong>armth:</strong> Parent responsiveness and support of the child</li>
            </ul>
            <p><strong><a title="What’s Measured" href="~/Research/WhatsMeasured">Learn more about each section in &#8220;What&#8217;s Measured&#8221;</a> </strong></p>
        </div>
    </div>
</body>
</html> 