@model TheFamilyMapOnline.Models.HowitWorks

@using System.Web.Mvc

@{
    <title>FAQs Page</title>
    <h3>@ViewBag.Message</h3>
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!doctype html>
<html>
<body id="how_it_works">
    <div id="content">
        <div class="left">
            <h2>How It Works</h2>
            <ul id="subnavigation">
                <li class="page_item page-item-475 current_page_item"><a href="~/HowitWorks/Content">Content</a></li>
                <li class="page_item page-item-1105"><a href="~/HowitWorks/format/">Format</a></li>
                <li class="page_item page-item-477"><a href="~/HowitWorks/StepstoAdopting">Steps to Adopting</a></li>
                <li class="page_item page-item-15"><a href="~/HowitWorks/FAQs">FAQs</a></li>
            </ul>
            <div id="spotlights">
                <div id="lets-get-started">
                    <a href="~/AgenContact/Create" title="Let's Get Started - Join The Family Map Today!">Let's Get Started - Join The Family Map</a>
                </div>
                <div id="testimonialssp">
                    <a href="~/clientsTestimonials/Clients" title="People Are Talking - Hear what our clients and partners have to say about The Family Map.">People Are Talking - Hear what our clients and partners have to say about The Family Map.</a>
                </div>
            </div>
        </div>
        <div class="rcontent right">
            <h1>FAQs</h1>
            <p>The Family Map program has taken the time to answer some of our most frequently asked questions here. <em><strong>Click any question to see the answer.</strong></em></p>
            <hr>
            <!-- Retrieve all FAQs -->
            <div class="faqblock">
                <h2 class="expand">Q. Why can’t the parents just read the question and answer like a survey?</h2>
                <div class="description">
                    A. <p>Getting the information from the Family Map is only a small part of the reason to use it. Conducting the interview allows you to connect to the family and start a real partnership – a conversation.</p>
                </div>
            </div>
            <div class="faqblock">
                <h2 class="expand">Q. Who should conduct the interview with the Family Map?</h2>
                <div class="description">
                    A. <p>The Family Map Inventories were developed to be conducted by the educator that spends the most time with the child in center based programs or the assigned visitor in home visiting programs.  However, some programs have successfully conducted Family Map interviews as teams that include a family enrichment specialist and an educator.</p>
                </div>
            </div>
            <div class="faqblock">
                <h2 class="expand">Q. Who should be interviewed with the Family Map?</h2>
                <div class="description">
                    A. <p>The interview should be conducted with the person who spends the most time caring for the child. The child should also be at the interview. Welcome any other adults who help take care of the child.</p>
                </div>
            </div>
            <div class="faqblock">
                <h2 class="expand">Q. Teachers in my program say the parents will not like this interview!</h2>
                <div class="description">
                    A. <p>Many teachers are protective of their parents before they actually use the Family Map. When we ask parents, after they have had a Family Map interview, they mostly say they enjoyed the conversation and loved talking about their family. Change is hard for all people. We find that teachers say positive things about the Family Map after they have used it.</p>
                </div>
            </div>
            <div class="faqblock">
                <h2 class="expand">Q. How often should we do the Family Map interview?</h2>
                <div class="description">
                    A. <p>We recommend that the Family Map interview be conducted twice a year. This allows programs to document the services they provide. We have worked with programs that show reductions in risks from fall to spring. We know family risks and strengths can change quickly. We have found that new risks are identified in the second interview.</p>
                </div>
            </div>
            <div class="faqblock">
                <h2 class="expand">Q. Should we do the Family Map at the enrollment conference?</h2>
                <div class="description">
                    A. <p>The Family Map has most often been used at home visits after the family/child have been in the program for a few weeks. However, some programs are using it at enrollment and report to us that they are happy with the result. One program is choosing to break up the interview over 2-3 meetings with the parent starting at enrollment.</p>
                </div>
            </div>
            <div class="faqblock">
                <h2 class="expand">Q. How much time will it take to use the Family Map?</h2>
                <div class="description">
                    A. <p>Typically, the Family Map Interview takes 45-60 minutes to complete.</p>
                </div>
            </div>
            <div class="faqblock">
                <h2 class="expand">Q. What other training or policy should my agency consider before we start the Family Map?</h2>
                <div class="description">
                    A. <p>Review the topics in the Family Map to identify referral options and resources your teachers will likely need. Consider the companion program <a title="TIPS for Great Kids" href="http://www.tipsforgreatkids.com/" target="_blank">TIPS for Great Kids</a>!</p>
                    <p>Review your agency policy on confidentiality. In rare cases, the Family Map interview could identify child abuse, domestic violence or mental health issues. Some agencies review these protocols.</p>
                </div>
            </div>
            <div class="faqblock">
                <h2 class="expand">Q. What is the cost of training for my program?</h2>
                <div class="description">
                    A. <p>Licensed child care facilities in state of Arkansas may be eligible for free training. The cost of training includes the education fee, all support materials, and permission to use and reproduce all of the Family Map forms. We will provide additional web based trainings and may also work individually with programs to provide mentoring after trainings.</p>
                    <p>If the workshop is to be held outside of central Arkansas, travel expenses will be the responsibility of the hosting agency or program.  Contact our team at familymap@uams.edu for more information.</p>
                    <p>&nbsp;</p>
                </div>
            </div>
            <div class="faqblock">
                <h2 class="expand">Q. When can I attend training? Where are trainings held?</h2>
                <div class="description">
                    A. <p>Training classes can be scheduled as needed for some organizations but are generally offered monthly in Arkansas. The training is for groups of no more than 25 participants. The class can be held at your site. We can assist with special planning needs if, for example, your agency is very large or small.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>