@model TheFamilyMapOnline.Models.HowitWorks

@using System.Web.Mvc

@{
    <title> Format Page</title>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!doctype html>
<html>
<body id="how_it_works">
    <div id="content">
        <div class="left">


            <h2>How It Works</h2>
            <ul id="subnavigation">
                <li class="page_item page-item-475"><a href="http://www.thefamilymap.org/how-it-works/the-content/">Content</a></li>
                <li class="page_item page-item-1105 current_page_item"><a href="http://www.thefamilymap.org/how-it-works/format/">Format</a></li>
                <li class="page_item page-item-477"><a href="http://www.thefamilymap.org/how-it-works/steps-to-adopting/">Steps to Adopting</a></li>
                <li class="page_item page-item-15"><a href="http://www.thefamilymap.org/how-it-works/frequently-asked-questions/">FAQs</a></li>
            </ul>
            <div id="spotlights">
                <div id="lets-get-started">
                    <a href="http://www.uams.edu/FamilyMed/Scripts/rws5.pl?FORM=FamilyMapInquiry" title="Let's Get Started - Join The Family Map Today!">Let's Get Started - Join The Family Map</a>
                </div>
                <div id="testimonialssp">
                    <a href="http://www.thefamilymap.org/clientstestimonials/" title="People Are Talking - Hear what our clients and partners have to say about The Family Map.">People Are Talking - Hear what our clients and partners have to say about The Family Map.</a>
                </div>
                <!--<div id="programssp">
                    <div id="view-all-link">
                        <a href="" title="View All of the Programs that Use The Family Map.">View All</a>
                    </div>
                    <img src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/images/programs/head-start.png" />
                    <img src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/images/programs/hippy-usa.png" />
                </div>-->
            </div>

        </div>		<div class="rcontent right">
            <h1>
                Format<strong>
                    <br />
                </strong>
            </h1>
            <p>The Family Map is a series of questions the educator asks a family&#8217;s primary caregiver. Each interview takes about 45 minutes and is generally done in the home but can also be used in the child care center.<strong> </strong></p>
            <p><strong>Interviews provide immediate feedback.</strong> A family strength is identified when a parent response matches an unshaded area on the response form. Shaded responses indicate a potential risk for healthy child development. You can discuss these risks on the spot. Together, you and the parent can determine whether to set goals to address risks.</p>
            <p><a href="http://www.thefamilymap.org/wp-content/uploads/2012/10/Family-Map-sample-home-and-car-safety1.jpg"><img class="aligncenter" title="Family Map sample - home and car safety" src="http://www.thefamilymap.org/wp-content/uploads/2012/10/Family-Map-sample-home-and-car-safety1.jpg" alt="" width="503" height="339" /></a></p>
        </div>
    </div>
</body>
</html>
