@model TheFamilyMapOnline.Models.HowitWorks

@using System.Web.Mvc

@{
    <title> Format Page</title>
    <h3>@ViewBag.Message</h3>
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!doctype html>
<html>
<body id="how_it_works">
    <div id="content">
        <div class="left">
            <h2>How It Works</h2>
            <ul id="subnavigation">
                <li class="page_item page-item-475 current_page_item"><a href="~/HowitWorks/Content">Content</a></li>
                <li class="page_item page-item-1105"><a href="~/HowitWorks/format/">Format</a></li>
                <li class="page_item page-item-477"><a href="~/HowitWorks/StepstoAdopting">Steps to Adopting</a></li>
                <li class="page_item page-item-15"><a href="~/HowitWorks/FAQs">FAQs</a></li>
            </ul>
            <div id="spotlights">
                <div id="lets-get-started">
                    <a href="~/AgenContact/Create" title="Let's Get Started - Join The Family Map Today!">Let's Get Started - Join The Family Map</a>
                </div>
                <div id="testimonialssp">
                    <a href="~/clientsTestimonials/Clients" title="People Are Talking - Hear what our clients and partners have to say about The Family Map.">People Are Talking - Hear what our clients and partners have to say about The Family Map.</a>
                </div>
            </div>
        </div>
        <div class="rcontent right">
            <h1>Format</h1>
            <p>The Family Map is a series of questions the educator asks a family&#8217;s primary caregiver. Each interview takes about 45 minutes and is generally done in the home but can also be used in the child care center.<strong> </strong></p>
            <p><strong>Interviews provide immediate feedback.</strong> A family strength is identified when a parent response matches an unshaded area on the response form. Shaded responses indicate a potential risk for healthy child development. You can discuss these risks on the spot. Together, you and the parent can determine whether to set goals to address risks.</p>
            <p><a href="~/Content/img/Family-Map-sample-home-and-car-safety1.jpg"><img class="aligncenter" title="Family Map sample - home and car safety" src="~/Content/img/Family-Map-sample-home-and-car-safety1.jpg" alt="" width="503" height="339" /></a></p>
        </div>
    </div>
</body>
</html>
