@model TheFamilyMapOnline.Models.HowitWorks

@using System.Web.Mvc

@{
    ViewBag.Title = "How it Works";
    <h3>@ViewBag.Message</h3>
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html>
<body id="how_it_works">
    <div id="content">
        <div class="left">
            <h2>How It Works</h2>
            <ul id="subnavigation">
                <li class="page_item page-item-475"><a href="~/HowitWorks/Content">Content</a></li>
                <li class="page_item page-item-1105"><a href="~/HowitWorks/format/">Format</a></li>
                <li class="page_item page-item-477"><a href="~/HowitWorks/StepstoAdopting">Steps to Adopting</a></li>
                <li class="page_item page-item-15"><a href="~/HowitWorks/FAQs">FAQs</a></li>
            </ul>
            <div id="spotlights">
                <div id="lets-get-started">
                    <a href="~/AgenContact/Create" title="Let's Get Started - Join The Family Map Today!">Let's Get Started - Join The Family Map</a>
                </div>
                <div id="testimonialssp">
                    <a href="~/clientsTestimonials/Clients" title="People Are Talking - Hear what our clients and partners have to say about The Family Map.">People Are Talking - Hear what our clients and partners have to say about The Family Map.</a>
                </div>
            </div>
        </div>
        <div class="rcontent right">
            <h1>How it Works</h1>
            <h1><a href="~/Content/img/Family-Map-Interview.png"><img class="size-full wp-image-1101 alignright" title="Family Map Interview" src="~/Content/img/Family-Map-Interview.png" alt="" width="250" height="167" /></a></h1>
            <p>We train your staff on the most up-to-date research on <strong>risk and protective factors in families</strong>.</p>
            <p>Then, we give <strong>step-by-step instruction and practice</strong> using The Family Map interviews and help you implement interviews. Use them at yearly home visits, at parent-teacher conferences, or at enrollment.</p>
            <p><strong>The result is better family partnership.</strong></p>
            <p>
                Educators trained in The Family Map are more effective at serving families because they
                <strong>
                    <br />
                </strong>
            </p>
            <ul>
                <li>Learn about each family&#8217;s strengths and needs.</li>
                <li>Determine the services or resources that will be most helpful to each family.</li>
                <li>Individualize support for children in the classroom or visitation setting.</li>
                <li>Have a framework for ongoing assessment and progress documentation.</li>
            </ul>
            <p>
                <strong>
                    Educators say The Family Map<br />
                </strong>
            </p>
            <ul>
                <li>Makes parents feel closer to teachers.</li>
                <li>Cuts down on other agency paperwork.</li>
                <li>Helps teachers make important changes to their classrooms.</li>
            </ul>
            <p><strong>Program Evaluation</strong></p>
            <p>The Family Map can also be used to evaluate intervention programs. For instance, researchers are currently using it to evaluate the Arkansas statewide Maternal, Infant, and Early Childhood Home Visiting Program.</p>
            <p>To inquire about a plan for your program, fill out the <a href="~/AgenContact/Create" target="_blank"><strong>Agency Information form</strong></a>.</p>
        </div>
    </div>
</body>
</html>