@model TheFamilyMapOnline.Models.HowitWorks 
  
    @using System.Web.Mvc

@{
    ViewBag.Title = "How it Works";


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
 }
<DOCTYPE>
<html>
    <head>

    </head>
<body>





    <div>
        @using (Html.BeginForm())

</div>
</body>
    </html>
</DOCTYPE>  


