@model TheFamilyMapOnline.Models.HowitWorks
@using System.Web.Mvc

@{
    ViewBag.Title = "How it Works Steps to Adopting page";
    <h3>@ViewBag.Message</h3>
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html>
<body id="how_it_works">
    <div id="content">
        <div class="left">


            <h2>How It Works</h2>
            <ul id="subnavigation">
                <li class="page_item page-item-475 current_page_item"><a href="~/HowitWorks/Content">Content</a></li>
                <li class="page_item page-item-1105"><a href="~/HowitWorks/format/">Format</a></li>
                <li class="page_item page-item-477"><a href="~/HowitWorks/StepstoAdopting">Steps to Adopting</a></li>
                <li class="page_item page-item-15"><a href="~/HowitWorks/FAQs">FAQs</a></li>
            </ul>
            <div id="spotlights">
                <div id="lets-get-started">
                    <a href="http://www.uams.edu/FamilyMed/Scripts/rws5.pl?FORM=FamilyMapInquiry" title="Let's Get Started - Join The Family Map Today!">Let's Get Started - Join The Family Map</a>
                </div>
                <div id="testimonialssp">
                    <a href="http://www.thefamilymap.org/clientstestimonials/" title="People Are Talking - Hear what our clients and partners have to say about The Family Map.">People Are Talking - Hear what our clients and partners have to say about The Family Map.</a>
                </div>
                <!--<div id="programssp">
                    <div id="view-all-link">
                        <a href="" title="View All of the Programs that Use The Family Map.">View All</a>
                    </div>
                    <img src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/images/programs/head-start.png" />
                    <img src="http://www.thefamilymap.org/wp-content/themes/thefamilymap/images/programs/hippy-usa.png" />
                </div>-->
            </div>

        </div>		<div class="rcontent right">
            <h1>Steps to Adopting</h1>
            <p>
                <strong><img class="alignleft  wp-image-1066" style="border: 0px none;" title="Pie1" src="http://www.thefamilymap.org/wp-content/uploads/2012/10/Pie1-e1398952163182.png" alt="" width="31" height="56" /></strong><strong>Decide</strong><br />
                Decide your training date. Sign a Family Map Inventories Research Agreement. Return to Family Map Coordinator at least 4 weeks prior to training date.
            </p>
            <p>
                <strong>Pla</strong><strong><a href="http://www.thefamilymap.org/wp-content/uploads/2012/10/Pie-2.png"><img class="alignleft  wp-image-1067" style="border: 0px none;" title="Pie 2" src="http://www.thefamilymap.org/wp-content/uploads/2012/10/Pie-2-e1398952071386.png" alt="" width="33" height="54" /></a></strong><strong>n</strong><br />
                Identify a Navigator, the key contact between us and your agency. The Navigator receives additional training.  We&#8217;ll show you how to use the Family Map to link families to resources. Decide when you will conduct interviews.  Establish a plan for referrals.
            </p>
            <p>
                <strong>Train</strong><strong><img class="alignleft  wp-image-1074" style="border: 0px none;" title="Pie3" src="http://www.thefamilymap.org/wp-content/uploads/2014/05/Pie3.png" alt="" width="38" height="55" /></strong><br />
                We recommend training classroom educators, who benefit most from understanding the child&#8217;s home environment. It is also important to train additional staff to support teachers or help during times of turnover.
            </p>
            <p>
                <strong><img class="alignleft  wp-image-1075" style="border: 0px none;" title="Pie4" src="http://www.thefamilymap.org/wp-content/uploads/2012/10/Pie4.png" alt="" width="36" height="55" />Begin Interviews</strong><br />
                It&#8217;s all new. Work with your Navigator to find out how it&#8217;s going and what support is needed. Set a date for a follow up meeting with a Family Map Specialist.
            </p>
            <div>
                <p>
                    <strong><img class="alignleft size-full wp-image-1076" style="border: 0px none;" title="Pie5" src="http://www.thefamilymap.org/wp-content/uploads/2012/10/Pie5.png" alt="" width="37" height="53" />Meet</strong><br />
                    Meet with a Family Map Specialist to review implementation by phone or in person to discuss concerns or ask questions on behalf of your staff.
                </p>
                <p>
                    <strong><img class="alignleft size-full wp-image-1077" style="border: 0px none;" title="Pie6" src="http://www.thefamilymap.org/wp-content/uploads/2012/10/Pie6.png" alt="" width="37" height="54" />Schedule</strong><br />
                    Schedule a site visit with a Family Map Specialist to meet with staff. Together, review Interview forms. Allow for one-on-one time between your Navigator and our Specialist.
                </p>
                <p>
                    <strong><img class="alignleft size-full wp-image-1078" style="border: 0px none;" title="Pie7" src="http://www.thefamilymap.org/wp-content/uploads/2012/10/Pie7.png" alt="" width="36" height="52" />Encourage</strong><br />
                    Encourage staff to participate in Family Map webinars and online learning opportunities.
                </p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</body>
</html>